doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title loyalty program
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    //
      [if mso]>
        <style type="text/css">
        ul {
        margin: 0 !important;
        }
        ol {
        margin: 0 !important;
        }
        li {
        margin-left: 47px !important;
        }
        </style><![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p10r { padding-right:10px!important } .es-m-p10l { padding-left:10px!important } .es-m-p0r { padding-right:0px!important } .es-m-p20l { padding-left:20px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w25 { width:25%!important } .es-m-w0 { width:0px!important } .es-text-2524, .es-text-2524 p, .es-text-2524 a, .es-text-2524 h1, .es-text-2524 h2, .es-text-2524 h3, .es-text-2524 h4, .es-text-2524 h5, .es-text-2524 h6, .es-text-2524 ul, .es-text-2524 ol, .es-text-2524 li, .es-text-2524 span, .es-text-2524 sup, .es-text-2524 sub, .es-text-2524 u, .es-text-2524 b, .es-text-2524 strong, .es-text-2524 em, .es-text-2524 i { font-size:14px!important } .es-text-9884, .es-text-9884 p, .es-text-9884 a, .es-text-9884 h1, .es-text-9884 h2, .es-text-9884 h3, .es-text-9884 h4, .es-text-9884 h5, .es-text-9884 h6, .es-text-9884 ul, .es-text-9884 ol, .es-text-9884 li, .es-text-9884 span, .es-text-9884 sup, .es-text-9884 sub, .es-text-9884 u, .es-text-9884 b, .es-text-9884 strong, .es-text-9884 em, .es-text-9884 i { font-size:14px!important } .es-text-5998, .es-text-5998 p, .es-text-5998 a, .es-text-5998 h1, .es-text-5998 h2, .es-text-5998 h3, .es-text-5998 h4, .es-text-5998 h5, .es-text-5998 h6, .es-text-5998 ul, .es-text-5998 ol, .es-text-5998 li, .es-text-5998 span, .es-text-5998 sup, .es-text-5998 sub, .es-text-5998 u, .es-text-5998 b, .es-text-5998 strong, .es-text-5998 em, .es-text-5998 i { font-size:14px!important } .es-text-3298, .es-text-3298 p, .es-text-3298 a, .es-text-3298 h1, .es-text-3298 h2, .es-text-3298 h3, .es-text-3298 h4, .es-text-3298 h5, .es-text-3298 h6, .es-text-3298 ul, .es-text-3298 ol, .es-text-3298 li, .es-text-3298 span, .es-text-3298 sup, .es-text-3298 sub, .es-text-3298 u, .es-text-3298 b, .es-text-3298 strong, .es-text-3298 em, .es-text-3298 i { font-size:14px!important } .es-text-3138, .es-text-3138 p, .es-text-3138 a, .es-text-3138 h1, .es-text-3138 h2, .es-text-3138 h3, .es-text-3138 h4, .es-text-3138 h5, .es-text-3138 h6, .es-text-3138 ul, .es-text-3138 ol, .es-text-3138 li, .es-text-3138 span, .es-text-3138 sup, .es-text-3138 sub, .es-text-3138 u, .es-text-3138 b, .es-text-3138 strong, .es-text-3138 em, .es-text-3138 i { font-size:14px!important } .es-text-7083, .es-text-7083 p, .es-text-7083 a, .es-text-7083 h1, .es-text-7083 h2, .es-text-7083 h3, .es-text-7083 h4, .es-text-7083 h5, .es-text-7083 h6, .es-text-7083 ul, .es-text-7083 ol, .es-text-7083 li, .es-text-7083 span, .es-text-7083 sup, .es-text-7083 sub, .es-text-7083 u, .es-text-7083 b, .es-text-7083 strong, .es-text-7083 em, .es-text-7083 i { font-size:14px!important } .es-text-3999, .es-text-3999 p, .es-text-3999 a, .es-text-3999 h1, .es-text-3999 h2, .es-text-3999 h3, .es-text-3999 h4, .es-text-3999 h5, .es-text-3999 h6, .es-text-3999 ul, .es-text-3999 ol, .es-text-3999 li, .es-text-3999 span, .es-text-3999 sup, .es-text-3999 sub, .es-text-3999 u, .es-text-3999 b, .es-text-3999 strong, .es-text-3999 em, .es-text-3999 i { font-size:14px!important } .es-text-7987, .es-text-7987 p, .es-text-7987 a, .es-text-7987 h1, .es-text-7987 h2, .es-text-7987 h3, .es-text-7987 h4, .es-text-7987 h5, .es-text-7987 h6, .es-text-7987 ul, .es-text-7987 ol, .es-text-7987 li, .es-text-7987 span, .es-text-7987 sup, .es-text-7987 sub, .es-text-7987 u, .es-text-7987 b, .es-text-7987 strong, .es-text-7987 em, .es-text-7987 i { font-size:14px!important } .es-text-9315, .es-text-9315 p, .es-text-9315 a, .es-text-9315 h1, .es-text-9315 h2, .es-text-9315 h3, .es-text-9315 h4, .es-text-9315 h5, .es-text-9315 h6, .es-text-9315 ul, .es-text-9315 ol, .es-text-9315 li, .es-text-9315 span, .es-text-9315 sup, .es-text-9315 sub, .es-text-9315 u, .es-text-9315 b, .es-text-9315 strong, .es-text-9315 em, .es-text-9315 i { font-size:14px!important } .es-text-8962, .es-text-8962 p, .es-text-8962 a, .es-text-8962 h1, .es-text-8962 h2, .es-text-8962 h3, .es-text-8962 h4, .es-text-8962 h5, .es-text-8962 h6, .es-text-8962 ul, .es-text-8962 ol, .es-text-8962 li, .es-text-8962 span, .es-text-8962 sup, .es-text-8962 sub, .es-text-8962 u, .es-text-8962 b, .es-text-8962 strong, .es-text-8962 em, .es-text-8962 i { font-size:10px!important } .es-text-7367, .es-text-7367 p, .es-text-7367 a, .es-text-7367 h1, .es-text-7367 h2, .es-text-7367 h3, .es-text-7367 h4, .es-text-7367 h5, .es-text-7367 h6, .es-text-7367 ul, .es-text-7367 ol, .es-text-7367 li, .es-text-7367 span, .es-text-7367 sup, .es-text-7367 sub, .es-text-7367 u, .es-text-7367 b, .es-text-7367 strong, .es-text-7367 em, .es-text-7367 i { font-size:10px!important } .es-text-8547, .es-text-8547 p, .es-text-8547 a, .es-text-8547 h1, .es-text-8547 h2, .es-text-8547 h3, .es-text-8547 h4, .es-text-8547 h5, .es-text-8547 h6, .es-text-8547 ul, .es-text-8547 ol, .es-text-8547 li, .es-text-8547 span, .es-text-8547 sup, .es-text-8547 sub, .es-text-8547 u, .es-text-8547 b, .es-text-8547 strong, .es-text-8547 em, .es-text-8547 i { font-size:10px!important } .es-text-4470, .es-text-4470 p, .es-text-4470 a, .es-text-4470 h1, .es-text-4470 h2, .es-text-4470 h3, .es-text-4470 h4, .es-text-4470 h5, .es-text-4470 h6, .es-text-4470 ul, .es-text-4470 ol, .es-text-4470 li, .es-text-4470 span, .es-text-4470 sup, .es-text-4470 sub, .es-text-4470 u, .es-text-4470 b, .es-text-4470 strong, .es-text-4470 em, .es-text-4470 i { font-size:10px!important } .es-text-4771, .es-text-4771 p, .es-text-4771 a, .es-text-4771 h1, .es-text-4771 h2, .es-text-4771 h3, .es-text-4771 h4, .es-text-4771 h5, .es-text-4771 h6, .es-text-4771 ul, .es-text-4771 ol, .es-text-4771 li, .es-text-4771 span, .es-text-4771 sup, .es-text-4771 sub, .es-text-4771 u, .es-text-4771 b, .es-text-4771 strong, .es-text-4771 em, .es-text-4771 i { font-size:10px!important } .es-text-2303, .es-text-2303 p, .es-text-2303 a, .es-text-2303 h1, .es-text-2303 h2, .es-text-2303 h3, .es-text-2303 h4, .es-text-2303 h5, .es-text-2303 h6, .es-text-2303 ul, .es-text-2303 ol, .es-text-2303 li, .es-text-2303 span, .es-text-2303 sup, .es-text-2303 sub, .es-text-2303 u, .es-text-2303 b, .es-text-2303 strong, .es-text-2303 em, .es-text-2303 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_06ff682c1498dac49f5ff297e6efb632f26ba257eaab79ab58cf533b65e18cd2/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="552" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_06ff682c1498dac49f5ff297e6efb632f26ba257eaab79ab58cf533b65e18cd2/images/frame_2_3.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2524(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Dear #{firstName},
                                      tr
                                        td.es-text-9884(
                                          style="padding:0;Margin:0;padding-top:25px;padding-right:10px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | At #{storeName}, we deeply value your continued support and loyalty. As a token of our appreciation, we're thrilled to introduce our brand new Loyalty Program designed exclusively for our most cherished customers like you.
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:30px;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_06ff682c1498dac49f5ff297e6efb632f26ba257eaab79ab58cf533b65e18cd2/images/benefits_of_loyalty_programs_for_your_online_business_1.png"
                                            )
                                      tr
                                        td.es-text-5998(
                                          style="padding:0;Margin:0;padding-top:30px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Here's what you can expect when you join our Loyalty Program:
                                      tr
                                        td.es-text-3298(
                                          style="padding:0;Margin:0;padding-top:10px" 
                                          align="left"
                                          )
                                          ol(
                                            style="font-family:arial, 'helvetica neue', helvetica, sans-serif;padding:0px 0px 0px 40px;margin:15px 0px"
                                            )
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px;mso-margin-top-alt:15px"
                                                )
                                                strong **Earn Points with Every Purchase**
                                                | : For every dollar you spend, you'll earn points that can be redeemed for exciting rewards and discounts on future purchases.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                strong(style="font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif") **Exclusive Discounts and Offers**
                                                span(style="font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif")
                                                  | : Enjoy special discounts and offers that are only available to our Loyalty Program members. Get access to exclusive sales and promotions throughout the year
                                                | .
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                strong **Birthday Treats**
                                                | : Celebrate your special day with us! As a member, you'll receive a special birthday treat to make your day even more memorable.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                strong **Early Access to New Arrivals**
                                                | : Be the first to know and shop our latest arrivals and collections before anyone else.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px;mso-margin-bottom-alt:15px"
                                                )
                                                strong **Priority Customer Support**
                                                | : Need assistance? Our dedicated support team is here to assist you with any queries or concerns you may have, ensuring a seamless shopping experience every time.
                                      tr
                                        td.es-text-3138(
                                          style="padding:0;Margin:0;padding-top:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Joining our Loyalty Program is easy! Simply L
                                      tr
                                        td.es-text-7083(
                                          style="padding:0;Margin:0;padding-top:25px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | Thank you for being a valued customer of #{storeName}. We look forward to rewarding you for your loyalty and making your shopping experience even more enjoyable.
                                      tr
                                        td.es-text-9315(
                                          style="padding:0;Margin:0;padding-top:25px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Happy shopping!​​
                                      tr
                                        td.es-text-3999(
                                          style="padding:0;Margin:0;padding-top:25px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Warm regards,
                                      tr
                                        td.es-text-7987(
                                          style="padding:0;Margin:0;padding-top:25px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) #{firstName}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:35px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-bottom:10px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:18px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_06ff682c1498dac49f5ff297e6efb632f26ba257eaab79ab58cf533b65e18cd2/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:18px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_06ff682c1498dac49f5ff297e6efb632f26ba257eaab79ab58cf533b65e18cd2/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_06ff682c1498dac49f5ff297e6efb632f26ba257eaab79ab58cf533b65e18cd2/images/.png" 
                                                    title="Instagram"
                                                    )
                                      tr
                                        td.es-text-8962(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            align="center" 
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                            ) © 2024 Promotional Products Now. All rights reserved.
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:30px;padding-right:60px;padding-left:60px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:480px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-7367(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            align="center" 
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20l.es-m-p0r(
                          style="Margin:0;padding-top:30px;padding-right:120px;padding-bottom:30px;padding-left:120px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:360px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8547(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=privacyPolicy
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4470(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=termsOfService 
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4771(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=helpCenter
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-2303(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=unsubscribe 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Unsubscribe