doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title New Message
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p20t { padding-top:20px!important } .es-m-p0r { padding-right:0px!important } .es-m-p20b { padding-bottom:20px!important } .es-m-p15l { padding-left:15px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-text-2444, .es-text-2444 p, .es-text-2444 a, .es-text-2444 h1, .es-text-2444 h2, .es-text-2444 h3, .es-text-2444 h4, .es-text-2444 h5, .es-text-2444 h6, .es-text-2444 ul, .es-text-2444 ol, .es-text-2444 li, .es-text-2444 span, .es-text-2444 sup, .es-text-2444 sub, .es-text-2444 u, .es-text-2444 b, .es-text-2444 strong, .es-text-2444 em, .es-text-2444 i { font-size:18px!important } .es-text-6388, .es-text-6388 p, .es-text-6388 a, .es-text-6388 h1, .es-text-6388 h2, .es-text-6388 h3, .es-text-6388 h4, .es-text-6388 h5, .es-text-6388 h6, .es-text-6388 ul, .es-text-6388 ol, .es-text-6388 li, .es-text-6388 span, .es-text-6388 sup, .es-text-6388 sub, .es-text-6388 u, .es-text-6388 b, .es-text-6388 strong, .es-text-6388 em, .es-text-6388 i { font-size:16px!important } .es-m-w50 { width:50%!important } .es-m-w0 { width:0px!important } .es-text-3833, .es-text-3833 p, .es-text-3833 a, .es-text-3833 h1, .es-text-3833 h2, .es-text-3833 h3, .es-text-3833 h4, .es-text-3833 h5, .es-text-3833 h6, .es-text-3833 ul, .es-text-3833 ol, .es-text-3833 li, .es-text-3833 span, .es-text-3833 sup, .es-text-3833 sub, .es-text-3833 u, .es-text-3833 b, .es-text-3833 strong, .es-text-3833 em, .es-text-3833 i { font-size:12px!important } .es-text-7465, .es-text-7465 p, .es-text-7465 a, .es-text-7465 h1, .es-text-7465 h2, .es-text-7465 h3, .es-text-7465 h4, .es-text-7465 h5, .es-text-7465 h6, .es-text-7465 ul, .es-text-7465 ol, .es-text-7465 li, .es-text-7465 span, .es-text-7465 sup, .es-text-7465 sub, .es-text-7465 u, .es-text-7465 b, .es-text-7465 strong, .es-text-7465 em, .es-text-7465 i { font-size:12px!important } .es-text-8606, .es-text-8606 p, .es-text-8606 a, .es-text-8606 h1, .es-text-8606 h2, .es-text-8606 h3, .es-text-8606 h4, .es-text-8606 h5, .es-text-8606 h6, .es-text-8606 ul, .es-text-8606 ol, .es-text-8606 li, .es-text-8606 span, .es-text-8606 sup, .es-text-8606 sub, .es-text-8606 u, .es-text-8606 b, .es-text-8606 strong, .es-text-8606 em, .es-text-8606 i { font-size:13px!important } .es-text-6293, .es-text-6293 p, .es-text-6293 a, .es-text-6293 h1, .es-text-6293 h2, .es-text-6293 h3, .es-text-6293 h4, .es-text-6293 h5, .es-text-6293 h6, .es-text-6293 ul, .es-text-6293 ol, .es-text-6293 li, .es-text-6293 span, .es-text-6293 sup, .es-text-6293 sub, .es-text-6293 u, .es-text-6293 b, .es-text-6293 strong, .es-text-6293 em, .es-text-6293 i { font-size:12px!important } .es-text-2479, .es-text-2479 p, .es-text-2479 a, .es-text-2479 h1, .es-text-2479 h2, .es-text-2479 h3, .es-text-2479 h4, .es-text-2479 h5, .es-text-2479 h6, .es-text-2479 ul, .es-text-2479 ol, .es-text-2479 li, .es-text-2479 span, .es-text-2479 sup, .es-text-2479 sub, .es-text-2479 u, .es-text-2479 b, .es-text-2479 strong, .es-text-2479 em, .es-text-2479 i { font-size:12px!important } .es-text-3084, .es-text-3084 p, .es-text-3084 a, .es-text-3084 h1, .es-text-3084 h2, .es-text-3084 h3, .es-text-3084 h4, .es-text-3084 h5, .es-text-3084 h6, .es-text-3084 ul, .es-text-3084 ol, .es-text-3084 li, .es-text-3084 span, .es-text-3084 sup, .es-text-3084 sub, .es-text-3084 u, .es-text-3084 b, .es-text-3084 strong, .es-text-3084 em, .es-text-3084 i { font-size:12px!important } .es-text-1402, .es-text-1402 p, .es-text-1402 a, .es-text-1402 h1, .es-text-1402 h2, .es-text-1402 h3, .es-text-1402 h4, .es-text-1402 h5, .es-text-1402 h6, .es-text-1402 ul, .es-text-1402 ol, .es-text-1402 li, .es-text-1402 span, .es-text-1402 sup, .es-text-1402 sub, .es-text-1402 u, .es-text-1402 b, .es-text-1402 strong, .es-text-1402 em, .es-text-1402 i { font-size:12px!important } .es-text-2752, .es-text-2752 p, .es-text-2752 a, .es-text-2752 h1, .es-text-2752 h2, .es-text-2752 h3, .es-text-2752 h4, .es-text-2752 h5, .es-text-2752 h6, .es-text-2752 ul, .es-text-2752 ol, .es-text-2752 li, .es-text-2752 span, .es-text-2752 sup, .es-text-2752 sub, .es-text-2752 u, .es-text-2752 b, .es-text-2752 strong, .es-text-2752 em, .es-text-2752 i { font-size:12px!important } .es-text-9676, .es-text-9676 p, .es-text-9676 a, .es-text-9676 h1, .es-text-9676 h2, .es-text-9676 h3, .es-text-9676 h4, .es-text-9676 h5, .es-text-9676 h6, .es-text-9676 ul, .es-text-9676 ol, .es-text-9676 li, .es-text-9676 span, .es-text-9676 sup, .es-text-9676 sub, .es-text-9676 u, .es-text-9676 b, .es-text-9676 strong, .es-text-9676 em, .es-text-9676 i { font-size:12px!important } .es-text-1729, .es-text-1729 p, .es-text-1729 a, .es-text-1729 h1, .es-text-1729 h2, .es-text-1729 h3, .es-text-1729 h4, .es-text-1729 h5, .es-text-1729 h6, .es-text-1729 ul, .es-text-1729 ol, .es-text-1729 li, .es-text-1729 span, .es-text-1729 sup, .es-text-1729 sub, .es-text-1729 u, .es-text-1729 b, .es-text-1729 strong, .es-text-1729 em, .es-text-1729 i { font-size:12px!important } .es-text-9122, .es-text-9122 p, .es-text-9122 a, .es-text-9122 h1, .es-text-9122 h2, .es-text-9122 h3, .es-text-9122 h4, .es-text-9122 h5, .es-text-9122 h6, .es-text-9122 ul, .es-text-9122 ol, .es-text-9122 li, .es-text-9122 span, .es-text-9122 sup, .es-text-9122 sub, .es-text-9122 u, .es-text-9122 b, .es-text-9122 strong, .es-text-9122 em, .es-text-9122 i { font-size:12px!important } .es-text-4274, .es-text-4274 p, .es-text-4274 a, .es-text-4274 h1, .es-text-4274 h2, .es-text-4274 h3, .es-text-4274 h4, .es-text-4274 h5, .es-text-4274 h6, .es-text-4274 ul, .es-text-4274 ol, .es-text-4274 li, .es-text-4274 span, .es-text-4274 sup, .es-text-4274 sub, .es-text-4274 u, .es-text-4274 b, .es-text-4274 strong, .es-text-4274 em, .es-text-4274 i { font-size:12px!important } .es-text-7272, .es-text-7272 p, .es-text-7272 a, .es-text-7272 h1, .es-text-7272 h2, .es-text-7272 h3, .es-text-7272 h4, .es-text-7272 h5, .es-text-7272 h6, .es-text-7272 ul, .es-text-7272 ol, .es-text-7272 li, .es-text-7272 span, .es-text-7272 sup, .es-text-7272 sub, .es-text-7272 u, .es-text-7272 b, .es-text-7272 strong, .es-text-7272 em, .es-text-7272 i { font-size:12px!important } .es-text-9179, .es-text-9179 p, .es-text-9179 a, .es-text-9179 h1, .es-text-9179 h2, .es-text-9179 h3, .es-text-9179 h4, .es-text-9179 h5, .es-text-9179 h6, .es-text-9179 ul, .es-text-9179 ol, .es-text-9179 li, .es-text-9179 span, .es-text-9179 sup, .es-text-9179 sub, .es-text-9179 u, .es-text-9179 b, .es-text-9179 strong, .es-text-9179 em, .es-text-9179 i { font-size:12px!important } .es-text-5528, .es-text-5528 p, .es-text-5528 a, .es-text-5528 h1, .es-text-5528 h2, .es-text-5528 h3, .es-text-5528 h4, .es-text-5528 h5, .es-text-5528 h6, .es-text-5528 ul, .es-text-5528 ol, .es-text-5528 li, .es-text-5528 span, .es-text-5528 sup, .es-text-5528 sub, .es-text-5528 u, .es-text-5528 b, .es-text-5528 strong, .es-text-5528 em, .es-text-5528 i { font-size:14px!important } .es-text-7969, .es-text-7969 p, .es-text-7969 a, .es-text-7969 h1, .es-text-7969 h2, .es-text-7969 h3, .es-text-7969 h4, .es-text-7969 h5, .es-text-7969 h6, .es-text-7969 ul, .es-text-7969 ol, .es-text-7969 li, .es-text-7969 span, .es-text-7969 sup, .es-text-7969 sub, .es-text-7969 u, .es-text-7969 b, .es-text-7969 strong, .es-text-7969 em, .es-text-7969 i { font-size:10px!important } .es-text-9759, .es-text-9759 p, .es-text-9759 a, .es-text-9759 h1, .es-text-9759 h2, .es-text-9759 h3, .es-text-9759 h4, .es-text-9759 h5, .es-text-9759 h6, .es-text-9759 ul, .es-text-9759 ol, .es-text-9759 li, .es-text-9759 span, .es-text-9759 sup, .es-text-9759 sub, .es-text-9759 u, .es-text-9759 b, .es-text-9759 strong, .es-text-9759 em, .es-text-9759 i { font-size:10px!important } .es-text-4848, .es-text-4848 p, .es-text-4848 a, .es-text-4848 h1, .es-text-4848 h2, .es-text-4848 h3, .es-text-4848 h4, .es-text-4848 h5, .es-text-4848 h6, .es-text-4848 ul, .es-text-4848 ol, .es-text-4848 li, .es-text-4848 span, .es-text-4848 sup, .es-text-4848 sub, .es-text-4848 u, .es-text-4848 b, .es-text-4848 strong, .es-text-4848 em, .es-text-4848 i { font-size:10px!important } .es-text-9763, .es-text-9763 p, .es-text-9763 a, .es-text-9763 h1, .es-text-9763 h2, .es-text-9763 h3, .es-text-9763 h4, .es-text-9763 h5, .es-text-9763 h6, .es-text-9763 ul, .es-text-9763 ol, .es-text-9763 li, .es-text-9763 span, .es-text-9763 sup, .es-text-9763 sub, .es-text-9763 u, .es-text-9763 b, .es-text-9763 strong, .es-text-9763 em, .es-text-9763 i { font-size:10px!important } .es-text-1556, .es-text-1556 p, .es-text-1556 a, .es-text-1556 h1, .es-text-1556 h2, .es-text-1556 h3, .es-text-1556 h4, .es-text-1556 h5, .es-text-1556 h6, .es-text-1556 ul, .es-text-1556 ol, .es-text-1556 li, .es-text-1556 span, .es-text-1556 sup, .es-text-1556 sub, .es-text-1556 u, .es-text-1556 b, .es-text-1556 strong, .es-text-1556 em, .es-text-1556 i { font-size:10px!important } .es-text-1144, .es-text-1144 p, .es-text-1144 a, .es-text-1144 h1, .es-text-1144 h2, .es-text-1144 h3, .es-text-1144 h4, .es-text-1144 h5, .es-text-1144 h6, .es-text-1144 ul, .es-text-1144 ol, .es-text-1144 li, .es-text-1144 span, .es-text-1144 sup, .es-text-1144 sub, .es-text-1144 u, .es-text-1144 b, .es-text-1144 strong, .es-text-1144 em, .es-text-1144 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_aecc812f1fdaa08b15de949a1b6f54c8ad752cc18f7e83f65abe52e2c422c6a4/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2444(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:27px;letter-spacing:0;color:#333333;font-size:18px" 
                                            align="center"
                                            )
                                            strong Order Confirmed
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-6388(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:38px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Hi #{firstName},
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:32px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Thanks for ordering with Promotional Products Now. Your order has been confirmed.
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;border-style:dashed;border-width:3px;border-color:#6fa8dc" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-3833(
                                          style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px" 
                                            align="center"
                                            )
                                            | Estimated delivery time:
                                            span(style="color:#f1c232") #{deliveryTime}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-7465(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Customer information:
                                      tr
                                        td.es-text-8606(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            ) #{fullName}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-6293(
                                          style="padding:0;Margin:0" 
                                          bgcolor="#efefef" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Order information:
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                            //- begining
                            each val in orders
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                                    )
                                                    strong  #{val.name}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong  #{val.price}
                                                    //- end
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-1402(
                                          style="padding:0;Margin:0" 
                                          bgcolor="#efefef" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px !important;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Additional information:
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          // [if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:270px" valign="top"><![endif]
                          table.es-left(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                            role="none" 
                            align="left" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-3084(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            ) + Minimum order value difference 1,200.00
                          // [if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif]
                          table.es-right(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                            role="none" 
                            align="right" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2479(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px" 
                                            align="right"
                                            ) #{minOrderValue}
                          // [if mso]></td></tr></table><![endif]
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          // [if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:270px" valign="top"><![endif]
                          table.es-left(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                            role="none" 
                            align="left" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2752(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            ) + Delivery fee
                          // [if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif]
                          table.es-right(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                            role="none" 
                            align="right" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9676(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px" 
                                            align="right"
                                            ) #{deliveryFee}
                          // [if mso]></td></tr></table><![endif]
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          // [if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:270px" valign="top"><![endif]
                          table.es-left(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                            role="none" 
                            align="left" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-1729(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            ) + VAT (5.44 %)
                          // [if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif]
                          table.es-right(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                            role="none" 
                            align="right" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9122(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px" 
                                            align="right"
                                            ) #{vat}
                          // [if mso]></td></tr></table><![endif]
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:5px;background-color:#efefef" 
                          bgcolor="#efefef" 
                          align="left"
                          )
                          // [if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:270px" valign="top"><![endif]
                          table.es-left(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                            role="none" 
                            align="left" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-4274(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong TOTAL
                          // [if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif]
                          table.es-right(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                            role="none" 
                            align="right" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:270px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-7272(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px" 
                                            align="right"
                                            )
                                            strong #{totalAmount}
                          // [if mso]></td></tr></table><![endif]
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9179(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Payment method:
                                            | #{paymentMethod}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-5528(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                            )
                                            | If you have any questions about your order, don't hesitate to
                                            a(
                                              href= contactUs 
                                              style="mso-line-height-rule:exactly;text-decoration:underline;color:#3d85c6;font-size:14px;line-height:21px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                              target="_blank"
                                              ) contact us
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:15px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="33" 
                                                    width="32" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_aecc812f1fdaa08b15de949a1b6f54c8ad752cc18f7e83f65abe52e2c422c6a4/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    href = twitter
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:15px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="33" 
                                                    width="32" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_aecc812f1fdaa08b15de949a1b6f54c8ad752cc18f7e83f65abe52e2c422c6a4/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    href = facebook
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="33" 
                                                    width="32" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_aecc812f1fdaa08b15de949a1b6f54c8ad752cc18f7e83f65abe52e2c422c6a4/images/.png" 
                                                    title="Instagram"
                                                    href = instagram
                                                    )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-7969(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )  2024 Promotional Products Now. All rights reserved.
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9759(
                                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20b.es-m-p20t.es-m-p0r.es-m-p15l(
                          style="Margin:0;padding-top:25px;padding-right:110px;padding-bottom:25px;padding-left:110px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:380px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:95px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1144(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    u
                                                      a(
                                                        href= privacyPolicy 
                                                        target="_blank" 
                                                        style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                        ) Privacy policy
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:102px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1556(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href= termOfService 
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Terms of service
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:101px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-9763(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href= helpCenter
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Help center
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:82px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4848(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p.es-m-txt-l(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href= unsubscribe 
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Unsubscribe