doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title New Message 2
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p15r { padding-right:15px!important } .es-m-p5l { padding-left:5px!important } .es-m-p25r { padding-right:25px!important } .es-m-p45l { padding-left:45px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w0 { width:0px!important } .es-text-8075, .es-text-8075 p, .es-text-8075 a, .es-text-8075 h1, .es-text-8075 h2, .es-text-8075 h3, .es-text-8075 h4, .es-text-8075 h5, .es-text-8075 h6, .es-text-8075 ul, .es-text-8075 ol, .es-text-8075 li, .es-text-8075 span, .es-text-8075 sup, .es-text-8075 sub, .es-text-8075 u, .es-text-8075 b, .es-text-8075 strong, .es-text-8075 em, .es-text-8075 i { font-size:20px!important } .es-text-2473, .es-text-2473 p, .es-text-2473 a, .es-text-2473 h1, .es-text-2473 h2, .es-text-2473 h3, .es-text-2473 h4, .es-text-2473 h5, .es-text-2473 h6, .es-text-2473 ul, .es-text-2473 ol, .es-text-2473 li, .es-text-2473 span, .es-text-2473 sup, .es-text-2473 sub, .es-text-2473 u, .es-text-2473 b, .es-text-2473 strong, .es-text-2473 em, .es-text-2473 i { font-size:13px!important } .es-text-1165, .es-text-1165 p, .es-text-1165 a, .es-text-1165 h1, .es-text-1165 h2, .es-text-1165 h3, .es-text-1165 h4, .es-text-1165 h5, .es-text-1165 h6, .es-text-1165 ul, .es-text-1165 ol, .es-text-1165 li, .es-text-1165 span, .es-text-1165 sup, .es-text-1165 sub, .es-text-1165 u, .es-text-1165 b, .es-text-1165 strong, .es-text-1165 em, .es-text-1165 i { font-size:13px!important } .es-text-6273, .es-text-6273 p, .es-text-6273 a, .es-text-6273 h1, .es-text-6273 h2, .es-text-6273 h3, .es-text-6273 h4, .es-text-6273 h5, .es-text-6273 h6, .es-text-6273 ul, .es-text-6273 ol, .es-text-6273 li, .es-text-6273 span, .es-text-6273 sup, .es-text-6273 sub, .es-text-6273 u, .es-text-6273 b, .es-text-6273 strong, .es-text-6273 em, .es-text-6273 i { font-size:13px!important } .es-text-5744, .es-text-5744 p, .es-text-5744 a, .es-text-5744 h1, .es-text-5744 h2, .es-text-5744 h3, .es-text-5744 h4, .es-text-5744 h5, .es-text-5744 h6, .es-text-5744 ul, .es-text-5744 ol, .es-text-5744 li, .es-text-5744 span, .es-text-5744 sup, .es-text-5744 sub, .es-text-5744 u, .es-text-5744 b, .es-text-5744 strong, .es-text-5744 em, .es-text-5744 i { font-size:13px!important } .es-text-2268, .es-text-2268 p, .es-text-2268 a, .es-text-2268 h1, .es-text-2268 h2, .es-text-2268 h3, .es-text-2268 h4, .es-text-2268 h5, .es-text-2268 h6, .es-text-2268 ul, .es-text-2268 ol, .es-text-2268 li, .es-text-2268 span, .es-text-2268 sup, .es-text-2268 sub, .es-text-2268 u, .es-text-2268 b, .es-text-2268 strong, .es-text-2268 em, .es-text-2268 i { font-size:13px!important } .es-text-7856, .es-text-7856 p, .es-text-7856 a, .es-text-7856 h1, .es-text-7856 h2, .es-text-7856 h3, .es-text-7856 h4, .es-text-7856 h5, .es-text-7856 h6, .es-text-7856 ul, .es-text-7856 ol, .es-text-7856 li, .es-text-7856 span, .es-text-7856 sup, .es-text-7856 sub, .es-text-7856 u, .es-text-7856 b, .es-text-7856 strong, .es-text-7856 em, .es-text-7856 i { font-size:13px!important } .es-text-9083, .es-text-9083 p, .es-text-9083 a, .es-text-9083 h1, .es-text-9083 h2, .es-text-9083 h3, .es-text-9083 h4, .es-text-9083 h5, .es-text-9083 h6, .es-text-9083 ul, .es-text-9083 ol, .es-text-9083 li, .es-text-9083 span, .es-text-9083 sup, .es-text-9083 sub, .es-text-9083 u, .es-text-9083 b, .es-text-9083 strong, .es-text-9083 em, .es-text-9083 i { font-size:13px!important } .es-text-8229, .es-text-8229 p, .es-text-8229 a, .es-text-8229 h1, .es-text-8229 h2, .es-text-8229 h3, .es-text-8229 h4, .es-text-8229 h5, .es-text-8229 h6, .es-text-8229 ul, .es-text-8229 ol, .es-text-8229 li, .es-text-8229 span, .es-text-8229 sup, .es-text-8229 sub, .es-text-8229 u, .es-text-8229 b, .es-text-8229 strong, .es-text-8229 em, .es-text-8229 i { font-size:13px!important } .es-text-7114, .es-text-7114 p, .es-text-7114 a, .es-text-7114 h1, .es-text-7114 h2, .es-text-7114 h3, .es-text-7114 h4, .es-text-7114 h5, .es-text-7114 h6, .es-text-7114 ul, .es-text-7114 ol, .es-text-7114 li, .es-text-7114 span, .es-text-7114 sup, .es-text-7114 sub, .es-text-7114 u, .es-text-7114 b, .es-text-7114 strong, .es-text-7114 em, .es-text-7114 i { font-size:13px!important } .es-text-4958, .es-text-4958 p, .es-text-4958 a, .es-text-4958 h1, .es-text-4958 h2, .es-text-4958 h3, .es-text-4958 h4, .es-text-4958 h5, .es-text-4958 h6, .es-text-4958 ul, .es-text-4958 ol, .es-text-4958 li, .es-text-4958 span, .es-text-4958 sup, .es-text-4958 sub, .es-text-4958 u, .es-text-4958 b, .es-text-4958 strong, .es-text-4958 em, .es-text-4958 i { font-size:13px!important } .es-text-2093, .es-text-2093 p, .es-text-2093 a, .es-text-2093 h1, .es-text-2093 h2, .es-text-2093 h3, .es-text-2093 h4, .es-text-2093 h5, .es-text-2093 h6, .es-text-2093 ul, .es-text-2093 ol, .es-text-2093 li, .es-text-2093 span, .es-text-2093 sup, .es-text-2093 sub, .es-text-2093 u, .es-text-2093 b, .es-text-2093 strong, .es-text-2093 em, .es-text-2093 i { font-size:13px!important } .es-text-1678, .es-text-1678 p, .es-text-1678 a, .es-text-1678 h1, .es-text-1678 h2, .es-text-1678 h3, .es-text-1678 h4, .es-text-1678 h5, .es-text-1678 h6, .es-text-1678 ul, .es-text-1678 ol, .es-text-1678 li, .es-text-1678 span, .es-text-1678 sup, .es-text-1678 sub, .es-text-1678 u, .es-text-1678 b, .es-text-1678 strong, .es-text-1678 em, .es-text-1678 i { font-size:10px!important } .es-text-4381, .es-text-4381 p, .es-text-4381 a, .es-text-4381 h1, .es-text-4381 h2, .es-text-4381 h3, .es-text-4381 h4, .es-text-4381 h5, .es-text-4381 h6, .es-text-4381 ul, .es-text-4381 ol, .es-text-4381 li, .es-text-4381 span, .es-text-4381 sup, .es-text-4381 sub, .es-text-4381 u, .es-text-4381 b, .es-text-4381 strong, .es-text-4381 em, .es-text-4381 i { font-size:10px!important } .es-text-4869, .es-text-4869 p, .es-text-4869 a, .es-text-4869 h1, .es-text-4869 h2, .es-text-4869 h3, .es-text-4869 h4, .es-text-4869 h5, .es-text-4869 h6, .es-text-4869 ul, .es-text-4869 ol, .es-text-4869 li, .es-text-4869 span, .es-text-4869 sup, .es-text-4869 sub, .es-text-4869 u, .es-text-4869 b, .es-text-4869 strong, .es-text-4869 em, .es-text-4869 i { font-size:10px!important } .es-text-4252, .es-text-4252 p, .es-text-4252 a, .es-text-4252 h1, .es-text-4252 h2, .es-text-4252 h3, .es-text-4252 h4, .es-text-4252 h5, .es-text-4252 h6, .es-text-4252 ul, .es-text-4252 ol, .es-text-4252 li, .es-text-4252 span, .es-text-4252 sup, .es-text-4252 sub, .es-text-4252 u, .es-text-4252 b, .es-text-4252 strong, .es-text-4252 em, .es-text-4252 i { font-size:10px!important } .es-text-8920, .es-text-8920 p, .es-text-8920 a, .es-text-8920 h1, .es-text-8920 h2, .es-text-8920 h3, .es-text-8920 h4, .es-text-8920 h5, .es-text-8920 h6, .es-text-8920 ul, .es-text-8920 ol, .es-text-8920 li, .es-text-8920 span, .es-text-8920 sup, .es-text-8920 sub, .es-text-8920 u, .es-text-8920 b, .es-text-8920 strong, .es-text-8920 em, .es-text-8920 i { font-size:10px!important } .es-text-8564, .es-text-8564 p, .es-text-8564 a, .es-text-8564 h1, .es-text-8564 h2, .es-text-8564 h3, .es-text-8564 h4, .es-text-8564 h5, .es-text-8564 h6, .es-text-8564 ul, .es-text-8564 ol, .es-text-8564 li, .es-text-8564 span, .es-text-8564 sup, .es-text-8564 sub, .es-text-8564 u, .es-text-8564 b, .es-text-8564 strong, .es-text-8564 em, .es-text-8564 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    role="none" 
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#FFFFFF;width:600px;border-width:0" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_838ef92036bbd6de2ea67c6ef057c543d8977041fd6d5792ca4c5a6e4fb21b9e/images/frame_427319969_38s.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-8075(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          h1(
                                            style="Margin:0;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;mso-line-height-rule:exactly;letter-spacing:0;font-size:20px;font-style:normal;font-weight:normal;line-height:30px;color:#333333" 
                                            align="center"
                                            )
                                            strong Order Shipped
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2473(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            ) Hi #{firstName},
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-1165(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            | We thought you'd like to know that your Item(s) from your order #{orderId} has been shipped. You'll be notified when it's out for delivery. You can review your package status at any time by visiting
                                            a(
                                              href= viewPackageStatus 
                                              style="mso-line-height-rule:exactly;text-decoration:underline;color:#3d85c6;font-size:13px;line-height:20px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                              target="_blank"
                                              ) here
                                            | .
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_838ef92036bbd6de2ea67c6ef057c543d8977041fd6d5792ca4c5a6e4fb21b9e/images/ph2d1706da11.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-6273(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            | If you still have any question regarding your package please visit our
                                            a(
                                              href= helpCenter 
                                              style="mso-line-height-rule:exactly;text-decoration:underline;color:#3d85c6;font-size:13px;line-height:20px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                              target="_blank"
                                              ) help page
                                            | .
                                      tr
                                        td.h-auto(
                                          style="padding:0;Margin:0;padding-top:50px" 
                                          height="60" 
                                          align="center"
                                          )
                                          span.es-button-border.es-il(
                                            style="border-style:solid;border-color:#2CB543;background:#4a9add;border-width:0;display:inline-block;border-radius:8px;width:auto"
                                            )
                                            a.es-button(
                                              style="mso-style-priority:100 !important;text-decoration:none !important;mso-line-height-rule:exactly;color:#FFFFFF;font-size:18px;padding:15px 35px;display:inline-block;background:#4a9add;border-radius:8px;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center;letter-spacing:0;mso-padding-alt:0;mso-border-alt:10px solid #4a9add" 
                                              target="_blank" 
                                              href= checkOrderBtnLink
                                              ) Check order details
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-5744(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            strong This package contains the following:
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:5px;background-color:#efefef;border-radius:2px" 
                          bgcolor="#efefef" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:276px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-2268(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                                    )
                                                    strong ITEM
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:122px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7856(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                                    )
                                                    strong QUANTITY
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:122px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-9083(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                                    )
                                                    strong PRICE
                      tr
                        td.es-m-p5l.es-m-p15r(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                            each val in orderItems
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:250px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8229(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    ) #{val.item}
                                td.es-m-w0(style="padding:0;Margin:0;width:50px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:84px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7114(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    ) #{val.quantity}
                                td.es-m-w0(style="padding:0;Margin:0;width:50px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:126px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4958(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="left"
                                                    ) #{val.price}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2093(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            | If you have any questions about your order, don't hesitate to
                                            a(
                                              href= contactUs 
                                              target="_blank" 
                                              style="mso-line-height-rule:exactly;text-decoration:underline;color:#3d85c6;font-size:13px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px"
                                              ) contact us
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:50px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="35" 
                                                    width="34" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_838ef92036bbd6de2ea67c6ef057c543d8977041fd6d5792ca4c5a6e4fb21b9e/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="35" 
                                                    width="34" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_838ef92036bbd6de2ea67c6ef057c543d8977041fd6d5792ca4c5a6e4fb21b9e/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="35" 
                                                    width="34" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_838ef92036bbd6de2ea67c6ef057c543d8977041fd6d5792ca4c5a6e4fb21b9e/images/.png" 
                                                    title="Instagram"
                                                    )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-1678(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            align="center" 
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                            )  2024 Promotional Products Now. All rights reserved.
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-4381(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p25r.es-m-p45l(
                          style="Margin:0;padding-top:20px;padding-right:105px;padding-bottom:20px;padding-left:105px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:390px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:80px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4869(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href= privacyPolicy
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:83px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4252(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href= termsOfService
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:83px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8920(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#000000;font-size:10px"
                                                    )
                                                    a(
                                                      href= helpCenter
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#000000;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:84px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8564(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href= unsubscribe 
                                                      target="_blank" 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                                      ) Unsubscribe