doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title New Message 3
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p20r { padding-right:20px!important } .es-m-p10l { padding-left:10px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w0 { width:0px!important } .es-text-9408, .es-text-9408 p, .es-text-9408 a, .es-text-9408 h1, .es-text-9408 h2, .es-text-9408 h3, .es-text-9408 h4, .es-text-9408 h5, .es-text-9408 h6, .es-text-9408 ul, .es-text-9408 ol, .es-text-9408 li, .es-text-9408 span, .es-text-9408 sup, .es-text-9408 sub, .es-text-9408 u, .es-text-9408 b, .es-text-9408 strong, .es-text-9408 em, .es-text-9408 i { font-size:20px!important } .es-text-8163, .es-text-8163 p, .es-text-8163 a, .es-text-8163 h1, .es-text-8163 h2, .es-text-8163 h3, .es-text-8163 h4, .es-text-8163 h5, .es-text-8163 h6, .es-text-8163 ul, .es-text-8163 ol, .es-text-8163 li, .es-text-8163 span, .es-text-8163 sup, .es-text-8163 sub, .es-text-8163 u, .es-text-8163 b, .es-text-8163 strong, .es-text-8163 em, .es-text-8163 i { font-size:13px!important } .es-text-5541, .es-text-5541 p, .es-text-5541 a, .es-text-5541 h1, .es-text-5541 h2, .es-text-5541 h3, .es-text-5541 h4, .es-text-5541 h5, .es-text-5541 h6, .es-text-5541 ul, .es-text-5541 ol, .es-text-5541 li, .es-text-5541 span, .es-text-5541 sup, .es-text-5541 sub, .es-text-5541 u, .es-text-5541 b, .es-text-5541 strong, .es-text-5541 em, .es-text-5541 i { font-size:13px!important } .es-text-8260, .es-text-8260 p, .es-text-8260 a, .es-text-8260 h1, .es-text-8260 h2, .es-text-8260 h3, .es-text-8260 h4, .es-text-8260 h5, .es-text-8260 h6, .es-text-8260 ul, .es-text-8260 ol, .es-text-8260 li, .es-text-8260 span, .es-text-8260 sup, .es-text-8260 sub, .es-text-8260 u, .es-text-8260 b, .es-text-8260 strong, .es-text-8260 em, .es-text-8260 i { font-size:13px!important } .es-text-8051, .es-text-8051 p, .es-text-8051 a, .es-text-8051 h1, .es-text-8051 h2, .es-text-8051 h3, .es-text-8051 h4, .es-text-8051 h5, .es-text-8051 h6, .es-text-8051 ul, .es-text-8051 ol, .es-text-8051 li, .es-text-8051 span, .es-text-8051 sup, .es-text-8051 sub, .es-text-8051 u, .es-text-8051 b, .es-text-8051 strong, .es-text-8051 em, .es-text-8051 i { font-size:13px!important } .es-text-7633, .es-text-7633 p, .es-text-7633 a, .es-text-7633 h1, .es-text-7633 h2, .es-text-7633 h3, .es-text-7633 h4, .es-text-7633 h5, .es-text-7633 h6, .es-text-7633 ul, .es-text-7633 ol, .es-text-7633 li, .es-text-7633 span, .es-text-7633 sup, .es-text-7633 sub, .es-text-7633 u, .es-text-7633 b, .es-text-7633 strong, .es-text-7633 em, .es-text-7633 i { font-size:13px!important } .es-text-4324, .es-text-4324 p, .es-text-4324 a, .es-text-4324 h1, .es-text-4324 h2, .es-text-4324 h3, .es-text-4324 h4, .es-text-4324 h5, .es-text-4324 h6, .es-text-4324 ul, .es-text-4324 ol, .es-text-4324 li, .es-text-4324 span, .es-text-4324 sup, .es-text-4324 sub, .es-text-4324 u, .es-text-4324 b, .es-text-4324 strong, .es-text-4324 em, .es-text-4324 i { font-size:13px!important } .es-text-6273, .es-text-6273 p, .es-text-6273 a, .es-text-6273 h1, .es-text-6273 h2, .es-text-6273 h3, .es-text-6273 h4, .es-text-6273 h5, .es-text-6273 h6, .es-text-6273 ul, .es-text-6273 ol, .es-text-6273 li, .es-text-6273 span, .es-text-6273 sup, .es-text-6273 sub, .es-text-6273 u, .es-text-6273 b, .es-text-6273 strong, .es-text-6273 em, .es-text-6273 i { font-size:13px!important } .es-text-7415, .es-text-7415 p, .es-text-7415 a, .es-text-7415 h1, .es-text-7415 h2, .es-text-7415 h3, .es-text-7415 h4, .es-text-7415 h5, .es-text-7415 h6, .es-text-7415 ul, .es-text-7415 ol, .es-text-7415 li, .es-text-7415 span, .es-text-7415 sup, .es-text-7415 sub, .es-text-7415 u, .es-text-7415 b, .es-text-7415 strong, .es-text-7415 em, .es-text-7415 i { font-size:13px!important } .es-text-1118, .es-text-1118 p, .es-text-1118 a, .es-text-1118 h1, .es-text-1118 h2, .es-text-1118 h3, .es-text-1118 h4, .es-text-1118 h5, .es-text-1118 h6, .es-text-1118 ul, .es-text-1118 ol, .es-text-1118 li, .es-text-1118 span, .es-text-1118 sup, .es-text-1118 sub, .es-text-1118 u, .es-text-1118 b, .es-text-1118 strong, .es-text-1118 em, .es-text-1118 i { font-size:13px!important } .es-text-7627, .es-text-7627 p, .es-text-7627 a, .es-text-7627 h1, .es-text-7627 h2, .es-text-7627 h3, .es-text-7627 h4, .es-text-7627 h5, .es-text-7627 h6, .es-text-7627 ul, .es-text-7627 ol, .es-text-7627 li, .es-text-7627 span, .es-text-7627 sup, .es-text-7627 sub, .es-text-7627 u, .es-text-7627 b, .es-text-7627 strong, .es-text-7627 em, .es-text-7627 i { font-size:13px!important } .es-text-1046, .es-text-1046 p, .es-text-1046 a, .es-text-1046 h1, .es-text-1046 h2, .es-text-1046 h3, .es-text-1046 h4, .es-text-1046 h5, .es-text-1046 h6, .es-text-1046 ul, .es-text-1046 ol, .es-text-1046 li, .es-text-1046 span, .es-text-1046 sup, .es-text-1046 sub, .es-text-1046 u, .es-text-1046 b, .es-text-1046 strong, .es-text-1046 em, .es-text-1046 i { font-size:10px!important } .es-text-2353, .es-text-2353 p, .es-text-2353 a, .es-text-2353 h1, .es-text-2353 h2, .es-text-2353 h3, .es-text-2353 h4, .es-text-2353 h5, .es-text-2353 h6, .es-text-2353 ul, .es-text-2353 ol, .es-text-2353 li, .es-text-2353 span, .es-text-2353 sup, .es-text-2353 sub, .es-text-2353 u, .es-text-2353 b, .es-text-2353 strong, .es-text-2353 em, .es-text-2353 i { font-size:10px!important } .es-text-8280, .es-text-8280 p, .es-text-8280 a, .es-text-8280 h1, .es-text-8280 h2, .es-text-8280 h3, .es-text-8280 h4, .es-text-8280 h5, .es-text-8280 h6, .es-text-8280 ul, .es-text-8280 ol, .es-text-8280 li, .es-text-8280 span, .es-text-8280 sup, .es-text-8280 sub, .es-text-8280 u, .es-text-8280 b, .es-text-8280 strong, .es-text-8280 em, .es-text-8280 i { font-size:10px!important } .es-text-8884, .es-text-8884 p, .es-text-8884 a, .es-text-8884 h1, .es-text-8884 h2, .es-text-8884 h3, .es-text-8884 h4, .es-text-8884 h5, .es-text-8884 h6, .es-text-8884 ul, .es-text-8884 ol, .es-text-8884 li, .es-text-8884 span, .es-text-8884 sup, .es-text-8884 sub, .es-text-8884 u, .es-text-8884 b, .es-text-8884 strong, .es-text-8884 em, .es-text-8884 i { font-size:10px!important } .es-text-8841, .es-text-8841 p, .es-text-8841 a, .es-text-8841 h1, .es-text-8841 h2, .es-text-8841 h3, .es-text-8841 h4, .es-text-8841 h5, .es-text-8841 h6, .es-text-8841 ul, .es-text-8841 ol, .es-text-8841 li, .es-text-8841 span, .es-text-8841 sup, .es-text-8841 sub, .es-text-8841 u, .es-text-8841 b, .es-text-8841 strong, .es-text-8841 em, .es-text-8841 i { font-size:10px!important } .es-text-3138, .es-text-3138 p, .es-text-3138 a, .es-text-3138 h1, .es-text-3138 h2, .es-text-3138 h3, .es-text-3138 h4, .es-text-3138 h5, .es-text-3138 h6, .es-text-3138 ul, .es-text-3138 ol, .es-text-3138 li, .es-text-3138 span, .es-text-3138 sup, .es-text-3138 sub, .es-text-3138 u, .es-text-3138 b, .es-text-3138 strong, .es-text-3138 em, .es-text-3138 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_de9406165768cc605c52a4255abd88007f7859061a9d980c33ec3f3407f96842/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9408(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:30px;letter-spacing:0;color:#333333;font-size:20px" 
                                            align="center"
                                            )
                                            strong Order Shipped
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:30px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-8163(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            ) Hi #{firstName},
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:10px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-5541(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            | We thought you'd like to know that your Item(s) from your order #{orderId} has been shipped.
                                            br
                                            | You'll be notified when it's out for delivery. You can review your package status at any time by
                                            br
                                            | visiting
                                            a(
                                              href=viewPackageStatus 
                                              style="mso-line-height-rule:exactly;text-decoration:underline;color:#3d85c6;font-size:13px;line-height:20px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                              target="_blank"
                                              ) here
                                            | .
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:20px;padding-bottom:15px;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="527" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_de9406165768cc605c52a4255abd88007f7859061a9d980c33ec3f3407f96842/images/out_for_delivery.png"
                                            )
                                      tr
                                        td.es-text-8260(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            | If you still have any question regarding your package please visit our
                                            a(
                                              href="" 
                                              target="_blank" 
                                              style="mso-line-height-rule:exactly;text-decoration:underline;color:#3d85c6;font-size:13px;line-height:20px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                              ) help page
                                            | .
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:15px;padding-bottom:30px" 
                                          align="center"
                                          )
                                          span.es-button-border(
                                            style="border-style:solid;border-color:#2CB543;background:#3d85c6;border-width:0;display:inline-block;border-radius:10px;width:auto"
                                            )
                                            a.es-button(
                                              style="mso-style-priority:100 !important;text-decoration:none !important;mso-line-height-rule:exactly;color:#FFFFFF;font-size:16px;padding:15px 20px;display:inline-block;background:#3d85c6;border-radius:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center;letter-spacing:0;mso-padding-alt:0;mso-border-alt:10px solid #3d85c6" 
                                              target="_blank" 
                                              href=checkOrderBtnLink
                                              ) Check order details
                                      tr
                                        td.es-text-8051(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            strong This package contains the following:
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:5px;background-color:#efefef" 
                          bgcolor="#efefef" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:253px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7633(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    )
                                                    strong ITEM
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:94px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4324(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="right"
                                                    )
                                                    strong QUANTITY
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:173px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-6273(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    )
                                                    strong PRICE
                      tr
                        td(
                          style="padding:20px;Margin:0" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                            each val in orderItems
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:269px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7415(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                                    ) #{val.item}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:78px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1118(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    ) #{val.quantity}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:173px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7627(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                                    ) #{val.price}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-bottom:35px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                            )
                                            | If you have any questions about your order, don't hesitate to
                                            a(
                                              href= contactUs 
                                              target="_blank" 
                                              style="mso-line-height-rule:exactly;text-decoration:none;color:#3d85c6;font-size:14px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                              ) contact us
                                            | .
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:35px;padding-bottom:10px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:21px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_de9406165768cc605c52a4255abd88007f7859061a9d980c33ec3f3407f96842/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:21px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_de9406165768cc605c52a4255abd88007f7859061a9d980c33ec3f3407f96842/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_de9406165768cc605c52a4255abd88007f7859061a9d980c33ec3f3407f96842/images/.png" 
                                                    title="Instagram"
                                                    )
                                      tr
                                        td.es-text-1046(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            align="center" 
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                            ) © 2024 Promotional Products Now. All rights reserved.
                                      tr
                                        td.es-text-2353(
                                          style="padding:0;Margin:0;padding-top:40px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20r.es-m-p10l(
                          style="Margin:0;padding-top:25px;padding-right:100px;padding-bottom:25px;padding-left:100px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:400px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:81px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8280(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=privacyPolicy 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:84px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8884(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=termsOfService 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:86px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-8841(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=helpCenter 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:89px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-3138(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=unsubscribe
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Unsubscribe