doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title payment mail
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p10r { padding-right:10px!important } .es-m-p10l { padding-left:10px!important } .es-m-p15b { padding-bottom:15px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w50 { width:50%!important } .es-m-w0 { width:0px!important } .es-text-8316, .es-text-8316 p, .es-text-8316 a, .es-text-8316 h1, .es-text-8316 h2, .es-text-8316 h3, .es-text-8316 h4, .es-text-8316 h5, .es-text-8316 h6, .es-text-8316 ul, .es-text-8316 ol, .es-text-8316 li, .es-text-8316 span, .es-text-8316 sup, .es-text-8316 sub, .es-text-8316 u, .es-text-8316 b, .es-text-8316 strong, .es-text-8316 em, .es-text-8316 i { font-size:20px!important } .es-text-4891, .es-text-4891 p, .es-text-4891 a, .es-text-4891 h1, .es-text-4891 h2, .es-text-4891 h3, .es-text-4891 h4, .es-text-4891 h5, .es-text-4891 h6, .es-text-4891 ul, .es-text-4891 ol, .es-text-4891 li, .es-text-4891 span, .es-text-4891 sup, .es-text-4891 sub, .es-text-4891 u, .es-text-4891 b, .es-text-4891 strong, .es-text-4891 em, .es-text-4891 i { font-size:16px!important } .es-text-7099 .es-text-mobile-size-24, .es-text-7099 .es-text-mobile-size-24 * { font-size:24px!important; line-height:150%!important } .es-text-7099 .es-text-mobile-size-56, .es-text-7099 .es-text-mobile-size-56 * { font-size:56px!important; line-height:150%!important } .es-text-9163, .es-text-9163 p, .es-text-9163 a, .es-text-9163 h1, .es-text-9163 h2, .es-text-9163 h3, .es-text-9163 h4, .es-text-9163 h5, .es-text-9163 h6, .es-text-9163 ul, .es-text-9163 ol, .es-text-9163 li, .es-text-9163 span, .es-text-9163 sup, .es-text-9163 sub, .es-text-9163 u, .es-text-9163 b, .es-text-9163 strong, .es-text-9163 em, .es-text-9163 i { font-size:18px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_1b47f85b4f262a75c49a95188d2dfb4717a084700bd67c51624152193f21f1f3/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-8316(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:30px;letter-spacing:0;color:#333333;font-size:20px" 
                                            align="center"
                                            )
                                            strong Your Receipt!
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                            align="center"
                                            )
                                            | Bill reference number:
                                            strong #{referenceNumber}
                      tr
                        td(
                          style="Margin:0;padding-top:20px;padding-right:20px;padding-left:20px;padding-bottom:10px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-4891(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Hi #{firstName},
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="Margin:0;padding-top:20px;padding-right:35px;padding-bottom:20px;padding-left:35px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:530px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-7099(
                                          style="padding:0;Margin:0;padding-top:30px;padding-bottom:30px" 
                                          bgcolor="#466dd6" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:84px;letter-spacing:0;color:#ffffff;font-size:14px" 
                                            align="center"
                                            )
                                            span.es-text-mobile-size-24(
                                              style="font-size:24px;line-height:36px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;background:transparent"
                                              ) PPN received your payment of
                                            br.es-text-mobile-size-24
                                            strong(
                                              style="font-size:56px;line-height:84px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif"
                                              )
                                              span(style="background:transparent") #{totalAmount}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9163(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:27px;letter-spacing:0;color:#333333;font-size:18px" 
                                            align="center"
                                            )
                                            strong Transaction Details
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-left:35px;padding-top:15px;padding-right:40px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:525px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="525" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_1b47f85b4f262a75c49a95188d2dfb4717a084700bd67c51624152193f21f1f3/images/adkq_nycatcxjastcxc2dag_gokcfyl19p0ygk2gap6d9b_r7othbdah9nc7qpt6rqlejrstkozhedlia3ecvbvhfy34.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#5F6368;font-size:14px"
                                                    ) Reference number
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{referenceNumber}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;letter-spacing:0;color:#5F6368;font-size:14px"
                                                    ) Date
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{date}.
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                            each val in items
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#5F6368;font-size:14px"
                                                    ) #{val.quantity}X #{val.item}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{val.price}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#5F6368;font-size:14px"
                                                    ) Delivery Fee
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="right" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                                    )
                                                    strong #{deliveryFee}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#5F6368;font-size:14px"
                                                    ) VAT(5.44%)
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{vat}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                                    )
                                                    strong Total
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{totalAmount}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:15px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                                    )
                                                    strong Payment method
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{paymentMethod}
                      tr
                        td(
                          style="Margin:0;padding-top:20px;padding-right:20px;padding-left:20px;padding-bottom:10px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-m-p15b(
                                          style="padding:0;Margin:0;padding-top:15px" 
                                          align="center"
                                          )
                                          span.es-button-border(
                                            style="border-style:solid;border-color:#2CB543;background:#466DD6;border-width:0;display:inline-block;border-radius:8px;width:auto"
                                            )
                                            a.es-button(
                                              style="mso-style-priority:100 !important;text-decoration:none !important;mso-line-height-rule:exactly;color:#FFFFFF;font-size:16px;padding:15px 20px;display:inline-block;background:#466DD6;border-radius:8px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:bold;font-style:normal;line-height:19px;width:auto;text-align:center;letter-spacing:0;mso-padding-alt:0;mso-border-alt:10px solid #466DD6" 
                                              target="_blank" 
                                              href=downloadReceiptUrl
                                              ) Download Receipt
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:20px;Margin:0" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                            )
                                            | If you have any questions about your order, don't hesitate to
                                            a(
                                              href=contactUs
                                              style="mso-line-height-rule:exactly;text-decoration:none;color:#466DD6;font-size:14px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                              target="_blank"
                                              ) contact us