doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title product review request
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p10r { padding-right:10px!important } .es-m-p10l { padding-left:10px!important } .es-m-p0r { padding-right:0px!important } .es-m-p20l { padding-left:20px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w25 { width:25%!important } .es-m-w0 { width:0px!important } .es-text-8042, .es-text-8042 p, .es-text-8042 a, .es-text-8042 h1, .es-text-8042 h2, .es-text-8042 h3, .es-text-8042 h4, .es-text-8042 h5, .es-text-8042 h6, .es-text-8042 ul, .es-text-8042 ol, .es-text-8042 li, .es-text-8042 span, .es-text-8042 sup, .es-text-8042 sub, .es-text-8042 u, .es-text-8042 b, .es-text-8042 strong, .es-text-8042 em, .es-text-8042 i { font-size:20px!important } .es-text-1095, .es-text-1095 p, .es-text-1095 a, .es-text-1095 h1, .es-text-1095 h2, .es-text-1095 h3, .es-text-1095 h4, .es-text-1095 h5, .es-text-1095 h6, .es-text-1095 ul, .es-text-1095 ol, .es-text-1095 li, .es-text-1095 span, .es-text-1095 sup, .es-text-1095 sub, .es-text-1095 u, .es-text-1095 b, .es-text-1095 strong, .es-text-1095 em, .es-text-1095 i { font-size:13px!important } .es-text-3133, .es-text-3133 p, .es-text-3133 a, .es-text-3133 h1, .es-text-3133 h2, .es-text-3133 h3, .es-text-3133 h4, .es-text-3133 h5, .es-text-3133 h6, .es-text-3133 ul, .es-text-3133 ol, .es-text-3133 li, .es-text-3133 span, .es-text-3133 sup, .es-text-3133 sub, .es-text-3133 u, .es-text-3133 b, .es-text-3133 strong, .es-text-3133 em, .es-text-3133 i { font-size:13px!important } .es-text-6277, .es-text-6277 p, .es-text-6277 a, .es-text-6277 h1, .es-text-6277 h2, .es-text-6277 h3, .es-text-6277 h4, .es-text-6277 h5, .es-text-6277 h6, .es-text-6277 ul, .es-text-6277 ol, .es-text-6277 li, .es-text-6277 span, .es-text-6277 sup, .es-text-6277 sub, .es-text-6277 u, .es-text-6277 b, .es-text-6277 strong, .es-text-6277 em, .es-text-6277 i { font-size:13px!important } .es-text-7598, .es-text-7598 p, .es-text-7598 a, .es-text-7598 h1, .es-text-7598 h2, .es-text-7598 h3, .es-text-7598 h4, .es-text-7598 h5, .es-text-7598 h6, .es-text-7598 ul, .es-text-7598 ol, .es-text-7598 li, .es-text-7598 span, .es-text-7598 sup, .es-text-7598 sub, .es-text-7598 u, .es-text-7598 b, .es-text-7598 strong, .es-text-7598 em, .es-text-7598 i { font-size:13px!important } .es-text-5727, .es-text-5727 p, .es-text-5727 a, .es-text-5727 h1, .es-text-5727 h2, .es-text-5727 h3, .es-text-5727 h4, .es-text-5727 h5, .es-text-5727 h6, .es-text-5727 ul, .es-text-5727 ol, .es-text-5727 li, .es-text-5727 span, .es-text-5727 sup, .es-text-5727 sub, .es-text-5727 u, .es-text-5727 b, .es-text-5727 strong, .es-text-5727 em, .es-text-5727 i { font-size:13px!important } .es-text-4108, .es-text-4108 p, .es-text-4108 a, .es-text-4108 h1, .es-text-4108 h2, .es-text-4108 h3, .es-text-4108 h4, .es-text-4108 h5, .es-text-4108 h6, .es-text-4108 ul, .es-text-4108 ol, .es-text-4108 li, .es-text-4108 span, .es-text-4108 sup, .es-text-4108 sub, .es-text-4108 u, .es-text-4108 b, .es-text-4108 strong, .es-text-4108 em, .es-text-4108 i { font-size:13px!important } .es-text-5711, .es-text-5711 p, .es-text-5711 a, .es-text-5711 h1, .es-text-5711 h2, .es-text-5711 h3, .es-text-5711 h4, .es-text-5711 h5, .es-text-5711 h6, .es-text-5711 ul, .es-text-5711 ol, .es-text-5711 li, .es-text-5711 span, .es-text-5711 sup, .es-text-5711 sub, .es-text-5711 u, .es-text-5711 b, .es-text-5711 strong, .es-text-5711 em, .es-text-5711 i { font-size:13px!important } .es-text-6568, .es-text-6568 p, .es-text-6568 a, .es-text-6568 h1, .es-text-6568 h2, .es-text-6568 h3, .es-text-6568 h4, .es-text-6568 h5, .es-text-6568 h6, .es-text-6568 ul, .es-text-6568 ol, .es-text-6568 li, .es-text-6568 span, .es-text-6568 sup, .es-text-6568 sub, .es-text-6568 u, .es-text-6568 b, .es-text-6568 strong, .es-text-6568 em, .es-text-6568 i { font-size:13px!important } .es-text-2061, .es-text-2061 p, .es-text-2061 a, .es-text-2061 h1, .es-text-2061 h2, .es-text-2061 h3, .es-text-2061 h4, .es-text-2061 h5, .es-text-2061 h6, .es-text-2061 ul, .es-text-2061 ol, .es-text-2061 li, .es-text-2061 span, .es-text-2061 sup, .es-text-2061 sub, .es-text-2061 u, .es-text-2061 b, .es-text-2061 strong, .es-text-2061 em, .es-text-2061 i { font-size:10px!important } .es-text-9283, .es-text-9283 p, .es-text-9283 a, .es-text-9283 h1, .es-text-9283 h2, .es-text-9283 h3, .es-text-9283 h4, .es-text-9283 h5, .es-text-9283 h6, .es-text-9283 ul, .es-text-9283 ol, .es-text-9283 li, .es-text-9283 span, .es-text-9283 sup, .es-text-9283 sub, .es-text-9283 u, .es-text-9283 b, .es-text-9283 strong, .es-text-9283 em, .es-text-9283 i { font-size:10px!important } .es-text-4622, .es-text-4622 p, .es-text-4622 a, .es-text-4622 h1, .es-text-4622 h2, .es-text-4622 h3, .es-text-4622 h4, .es-text-4622 h5, .es-text-4622 h6, .es-text-4622 ul, .es-text-4622 ol, .es-text-4622 li, .es-text-4622 span, .es-text-4622 sup, .es-text-4622 sub, .es-text-4622 u, .es-text-4622 b, .es-text-4622 strong, .es-text-4622 em, .es-text-4622 i { font-size:10px!important } .es-text-3564, .es-text-3564 p, .es-text-3564 a, .es-text-3564 h1, .es-text-3564 h2, .es-text-3564 h3, .es-text-3564 h4, .es-text-3564 h5, .es-text-3564 h6, .es-text-3564 ul, .es-text-3564 ol, .es-text-3564 li, .es-text-3564 span, .es-text-3564 sup, .es-text-3564 sub, .es-text-3564 u, .es-text-3564 b, .es-text-3564 strong, .es-text-3564 em, .es-text-3564 i { font-size:10px!important } .es-text-5380, .es-text-5380 p, .es-text-5380 a, .es-text-5380 h1, .es-text-5380 h2, .es-text-5380 h3, .es-text-5380 h4, .es-text-5380 h5, .es-text-5380 h6, .es-text-5380 ul, .es-text-5380 ol, .es-text-5380 li, .es-text-5380 span, .es-text-5380 sup, .es-text-5380 sub, .es-text-5380 u, .es-text-5380 b, .es-text-5380 strong, .es-text-5380 em, .es-text-5380 i { font-size:10px!important } .es-text-3717, .es-text-3717 p, .es-text-3717 a, .es-text-3717 h1, .es-text-3717 h2, .es-text-3717 h3, .es-text-3717 h4, .es-text-3717 h5, .es-text-3717 h6, .es-text-3717 ul, .es-text-3717 ol, .es-text-3717 li, .es-text-3717 span, .es-text-3717 sup, .es-text-3717 sub, .es-text-3717 u, .es-text-3717 b, .es-text-3717 strong, .es-text-3717 em, .es-text-3717 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_c21208fcb865663c033e30637ff4fa722233c3bef0e2aaba95e34f5ca3c172f2/images/frame_427319969.png"
                                            )
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:30px;padding-left:30px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:540px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-8042(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:30px;letter-spacing:0;color:#333333;font-size:20px" 
                                            align="center"
                                            )
                                            strong
                                              | We value your feedback. Share your experience with
                                              span(style="color:#466DD6") [Product Name]
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-1095(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            | Dear #{firstName},
                                            br
                                            | We hope this email finds you well. Thank you for choosing #{storeName} for your recent purchase of #{productName}. We sincerely hope that it met your expectations and added value to your life.
                                            br
                                            br
                                            | At PPN, we constantly strive to improve our products and services to better serve our valued customers like you. Your feedback is invaluable to us, and we would greatly appreciate it if you could take a few moments to share your experience with #{productName}.
                                            br
                                            br
                                            | Your honest review will not only help us understand how we can enhance our offerings but will also assist fellow shoppers in making informed decisions. Whether you loved the product or have suggestions for improvement, we want to hear it all!
                                            br
                                            br
                                            | To leave a review, simply click on the below:
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:30px;padding-bottom:30px" 
                                          align="center"
                                          )
                                          span.es-button-border(
                                            style="border-style:solid;border-color:#2CB543;background:#466DD6;border-width:0;display:inline-block;border-radius:8px;width:auto"
                                            )
                                            a.es-button(
                                              style="mso-style-priority:100 !important;text-decoration:none !important;mso-line-height-rule:exactly;color:#FFFFFF;font-size:16px;padding:15px 20px;display:inline-block;background:#466DD6;border-radius:8px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:bold;font-style:normal;line-height:19px;width:auto;text-align:center;letter-spacing:0;mso-padding-alt:0;mso-border-alt:10px solid #466DD6" 
                                              target="_blank" 
                                              href=reviewPageUrl
                                              ) Leave Review
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-3133(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                            )
                                            strong Your Order
                      tr
                        td.es-m-p10l.es-m-p0r(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:5px;background-color:#DDDDDD" 
                          bgcolor="#DDDDDD" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:300px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-6277(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p.es-m-txt-r(
                                                    align="right" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px"
                                                    )
                                                    strong ITEM
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:120px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7598(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    )
                                                    strong QUANTITY
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:100px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-5727(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px" 
                                                    align="center"
                                                    )
                                                    strong PRICE
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:50px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;font-size:0" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    width="50" 
                                                    alt=""
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_c21208fcb865663c033e30637ff4fa722233c3bef0e2aaba95e34f5ca3c172f2/images/apple_debuts_its_799_iphone_13_including_new_pink_color_option_1.png"
                                                    )
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:250px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4108(
                                                  style="padding:0;Margin:0;padding-top:30px" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="right" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#565656;font-size:13px"
                                                    ) #{productName}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:96px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-6568(
                                                  style="padding:0;Margin:0;padding-top:30px" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#565656;font-size:13px" 
                                                    align="center"
                                                    ) #{productQuantity}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:104px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-5711(
                                                  style="padding:0;Margin:0;padding-top:30px" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:20px;letter-spacing:0;color:#565656;font-size:13px"
                                                    ) #{productPrice}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:35px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                            )
                                            | If you have any questions  don't hesitate to
                                            span(style="color:#466DD6") contact us
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:40px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_c21208fcb865663c033e30637ff4fa722233c3bef0e2aaba95e34f5ca3c172f2/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_c21208fcb865663c033e30637ff4fa722233c3bef0e2aaba95e34f5ca3c172f2/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_c21208fcb865663c033e30637ff4fa722233c3bef0e2aaba95e34f5ca3c172f2/images/.png" 
                                                    title="Instagram"
                                                    )
                                      tr
                                        td.es-text-2061(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            align="center" 
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                            ) © 2024 Promotional Products Now. All rights reserved.
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:30px;padding-right:65px;padding-left:65px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:470px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-9283(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20l.es-m-p0r(
                          style="Margin:0;padding-top:30px;padding-bottom:30px;padding-right:120px;padding-left:120px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:360px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4622(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=privacyPolicy
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-3564(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=termsOfService 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-5380(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=helpCenter 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-3717(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=unsubscribe 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Unsubscribe