doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title shipping request
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    //
      [if mso]>
        <style type="text/css">
        ul {
        margin: 0 !important;
        }
        ol {
        margin: 0 !important;
        }
        li {
        margin-left: 47px !important;
        }
        </style><![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p20t { padding-top:20px!important } .es-m-p10r { padding-right:10px!important } .es-m-p10l { padding-left:10px!important } .es-m-p0r { padding-right:0px!important } .es-m-p20l { padding-left:20px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-text-4419, .es-text-4419 p, .es-text-4419 a, .es-text-4419 h1, .es-text-4419 h2, .es-text-4419 h3, .es-text-4419 h4, .es-text-4419 h5, .es-text-4419 h6, .es-text-4419 ul, .es-text-4419 ol, .es-text-4419 li, .es-text-4419 span, .es-text-4419 sup, .es-text-4419 sub, .es-text-4419 u, .es-text-4419 b, .es-text-4419 strong, .es-text-4419 em, .es-text-4419 i { font-size:20px!important } .es-text-8120, .es-text-8120 p, .es-text-8120 a, .es-text-8120 h1, .es-text-8120 h2, .es-text-8120 h3, .es-text-8120 h4, .es-text-8120 h5, .es-text-8120 h6, .es-text-8120 ul, .es-text-8120 ol, .es-text-8120 li, .es-text-8120 span, .es-text-8120 sup, .es-text-8120 sub, .es-text-8120 u, .es-text-8120 b, .es-text-8120 strong, .es-text-8120 em, .es-text-8120 i { font-size:14px!important } .es-m-w25 { width:25%!important } .es-m-w50 { width:50%!important } .img-8556 { width:91px!important } .es-m-w33 { width:33.33%!important } .es-m-w0 { width:0px!important } .es-text-7186, .es-text-7186 p, .es-text-7186 a, .es-text-7186 h1, .es-text-7186 h2, .es-text-7186 h3, .es-text-7186 h4, .es-text-7186 h5, .es-text-7186 h6, .es-text-7186 ul, .es-text-7186 ol, .es-text-7186 li, .es-text-7186 span, .es-text-7186 sup, .es-text-7186 sub, .es-text-7186 u, .es-text-7186 b, .es-text-7186 strong, .es-text-7186 em, .es-text-7186 i { font-size:14px!important } .es-text-2987, .es-text-2987 p, .es-text-2987 a, .es-text-2987 h1, .es-text-2987 h2, .es-text-2987 h3, .es-text-2987 h4, .es-text-2987 h5, .es-text-2987 h6, .es-text-2987 ul, .es-text-2987 ol, .es-text-2987 li, .es-text-2987 span, .es-text-2987 sup, .es-text-2987 sub, .es-text-2987 u, .es-text-2987 b, .es-text-2987 strong, .es-text-2987 em, .es-text-2987 i { font-size:16px!important } .es-text-4758, .es-text-4758 p, .es-text-4758 a, .es-text-4758 h1, .es-text-4758 h2, .es-text-4758 h3, .es-text-4758 h4, .es-text-4758 h5, .es-text-4758 h6, .es-text-4758 ul, .es-text-4758 ol, .es-text-4758 li, .es-text-4758 span, .es-text-4758 sup, .es-text-4758 sub, .es-text-4758 u, .es-text-4758 b, .es-text-4758 strong, .es-text-4758 em, .es-text-4758 i { font-size:16px!important } .es-text-7774, .es-text-7774 p, .es-text-7774 a, .es-text-7774 h1, .es-text-7774 h2, .es-text-7774 h3, .es-text-7774 h4, .es-text-7774 h5, .es-text-7774 h6, .es-text-7774 ul, .es-text-7774 ol, .es-text-7774 li, .es-text-7774 span, .es-text-7774 sup, .es-text-7774 sub, .es-text-7774 u, .es-text-7774 b, .es-text-7774 strong, .es-text-7774 em, .es-text-7774 i { font-size:13px!important } .es-text-5650, .es-text-5650 p, .es-text-5650 a, .es-text-5650 h1, .es-text-5650 h2, .es-text-5650 h3, .es-text-5650 h4, .es-text-5650 h5, .es-text-5650 h6, .es-text-5650 ul, .es-text-5650 ol, .es-text-5650 li, .es-text-5650 span, .es-text-5650 sup, .es-text-5650 sub, .es-text-5650 u, .es-text-5650 b, .es-text-5650 strong, .es-text-5650 em, .es-text-5650 i { font-size:12px!important } .es-text-4387, .es-text-4387 p, .es-text-4387 a, .es-text-4387 h1, .es-text-4387 h2, .es-text-4387 h3, .es-text-4387 h4, .es-text-4387 h5, .es-text-4387 h6, .es-text-4387 ul, .es-text-4387 ol, .es-text-4387 li, .es-text-4387 span, .es-text-4387 sup, .es-text-4387 sub, .es-text-4387 u, .es-text-4387 b, .es-text-4387 strong, .es-text-4387 em, .es-text-4387 i { font-size:12px!important } .es-text-1448, .es-text-1448 p, .es-text-1448 a, .es-text-1448 h1, .es-text-1448 h2, .es-text-1448 h3, .es-text-1448 h4, .es-text-1448 h5, .es-text-1448 h6, .es-text-1448 ul, .es-text-1448 ol, .es-text-1448 li, .es-text-1448 span, .es-text-1448 sup, .es-text-1448 sub, .es-text-1448 u, .es-text-1448 b, .es-text-1448 strong, .es-text-1448 em, .es-text-1448 i { font-size:12px!important } .es-text-5136, .es-text-5136 p, .es-text-5136 a, .es-text-5136 h1, .es-text-5136 h2, .es-text-5136 h3, .es-text-5136 h4, .es-text-5136 h5, .es-text-5136 h6, .es-text-5136 ul, .es-text-5136 ol, .es-text-5136 li, .es-text-5136 span, .es-text-5136 sup, .es-text-5136 sub, .es-text-5136 u, .es-text-5136 b, .es-text-5136 strong, .es-text-5136 em, .es-text-5136 i { font-size:12px!important } .es-text-7877, .es-text-7877 p, .es-text-7877 a, .es-text-7877 h1, .es-text-7877 h2, .es-text-7877 h3, .es-text-7877 h4, .es-text-7877 h5, .es-text-7877 h6, .es-text-7877 ul, .es-text-7877 ol, .es-text-7877 li, .es-text-7877 span, .es-text-7877 sup, .es-text-7877 sub, .es-text-7877 u, .es-text-7877 b, .es-text-7877 strong, .es-text-7877 em, .es-text-7877 i { font-size:12px!important } .es-text-4588, .es-text-4588 p, .es-text-4588 a, .es-text-4588 h1, .es-text-4588 h2, .es-text-4588 h3, .es-text-4588 h4, .es-text-4588 h5, .es-text-4588 h6, .es-text-4588 ul, .es-text-4588 ol, .es-text-4588 li, .es-text-4588 span, .es-text-4588 sup, .es-text-4588 sub, .es-text-4588 u, .es-text-4588 b, .es-text-4588 strong, .es-text-4588 em, .es-text-4588 i { font-size:10px!important } .es-text-2339, .es-text-2339 p, .es-text-2339 a, .es-text-2339 h1, .es-text-2339 h2, .es-text-2339 h3, .es-text-2339 h4, .es-text-2339 h5, .es-text-2339 h6, .es-text-2339 ul, .es-text-2339 ol, .es-text-2339 li, .es-text-2339 span, .es-text-2339 sup, .es-text-2339 sub, .es-text-2339 u, .es-text-2339 b, .es-text-2339 strong, .es-text-2339 em, .es-text-2339 i { font-size:10px!important } .es-text-1736, .es-text-1736 p, .es-text-1736 a, .es-text-1736 h1, .es-text-1736 h2, .es-text-1736 h3, .es-text-1736 h4, .es-text-1736 h5, .es-text-1736 h6, .es-text-1736 ul, .es-text-1736 ol, .es-text-1736 li, .es-text-1736 span, .es-text-1736 sup, .es-text-1736 sub, .es-text-1736 u, .es-text-1736 b, .es-text-1736 strong, .es-text-1736 em, .es-text-1736 i { font-size:10px!important } .es-text-6408, .es-text-6408 p, .es-text-6408 a, .es-text-6408 h1, .es-text-6408 h2, .es-text-6408 h3, .es-text-6408 h4, .es-text-6408 h5, .es-text-6408 h6, .es-text-6408 ul, .es-text-6408 ol, .es-text-6408 li, .es-text-6408 span, .es-text-6408 sup, .es-text-6408 sub, .es-text-6408 u, .es-text-6408 b, .es-text-6408 strong, .es-text-6408 em, .es-text-6408 i { font-size:10px!important } .es-text-7298, .es-text-7298 p, .es-text-7298 a, .es-text-7298 h1, .es-text-7298 h2, .es-text-7298 h3, .es-text-7298 h4, .es-text-7298 h5, .es-text-7298 h6, .es-text-7298 ul, .es-text-7298 ol, .es-text-7298 li, .es-text-7298 span, .es-text-7298 sup, .es-text-7298 sub, .es-text-7298 u, .es-text-7298 b, .es-text-7298 strong, .es-text-7298 em, .es-text-7298 i { font-size:10px!important } .es-text-6353, .es-text-6353 p, .es-text-6353 a, .es-text-6353 h1, .es-text-6353 h2, .es-text-6353 h3, .es-text-6353 h4, .es-text-6353 h5, .es-text-6353 h6, .es-text-6353 ul, .es-text-6353 ol, .es-text-6353 li, .es-text-6353 span, .es-text-6353 sup, .es-text-6353 sub, .es-text-6353 u, .es-text-6353 b, .es-text-6353 strong, .es-text-6353 em, .es-text-6353 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_5e7703355e9ac34c72779e84d11a170eea65f2ec45d156e50f1b68614cefe4ca/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-4419(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:30px;letter-spacing:0;color:#333333;font-size:20px" 
                                            align="center"
                                            )
                                            strong
                                              | Shipment Request For
                                              span(style="color:#466DD6") # #{orderNumber} - #{customerName}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-8120(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Dear #{vendorName},
                                      tr
                                        td.es-text-7186(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) I hope this email finds you well.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | I am reaching out to request the shipment of an order placed by one of our valued customers, #{customerName}, on our e-commerce platform ppn.com. The details of the order are as follows:
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          ul(
                                            style="font-family:arial, 'helvetica neue', helvetica, sans-serif;padding:0px 0px 0px 40px;margin:15px 0px"
                                            )
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px;line-height:16px !important")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px;mso-margin-top-alt:15px"
                                                )
                                                span(style="color:#466DD6") Order Number
                                                | :
                                                strong #{orderNumber}
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px;line-height:16px !important")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                span(style="color:#466DD6") Customer Name
                                                | :
                                                strong #{customerName}
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px;line-height:16px !important")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                span(style="color:#466DD6") Shipping Address
                                                | :
                                                strong #{shippingAddress}
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px;line-height:16px !important")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px;mso-margin-bottom-alt:15px"
                                                )
                                                span(style="color:#466DD6") Order Items
                                                | :
                                                strong [List of items ordered]
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            strong ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | We kindly request that you prepare and dispatch the mentioned order at your earliest convenience, ensuring that it is packaged securely to prevent any damage during transit.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | Additionally, please provide us with the following shipping details once the order has been shipped:
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          ul(
                                            style="font-family:arial, 'helvetica neue', helvetica, sans-serif;padding:0px 0px 0px 40px;margin:15px 0px"
                                            )
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px;mso-margin-top-alt:15px"
                                                )
                                                | Tracking Number:
                                                strong #{trackingNumber}
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                | Courier Service:
                                                strong #{courierService}
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px;mso-margin-bottom-alt:15px"
                                                )
                                                | Expected Delivery Date:
                                                strong #{expectedDeliveryDate}
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:16px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            strong ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | Ensuring timely delivery and maintaining the highest level of customer satisfaction is paramount to us at ppn.com. Therefore, we appreciate your prompt attention to this request.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | Should you have any questions or require further clarification, please do not hesitate to contact us.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Thank you for your cooperation.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Best regards,
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) #{senderName}
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) #{senderPosition}
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px !important;letter-spacing:0;color:#333333;font-size:16px"
                                            ) ppn.com
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:30px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                            each val in orderItems
                              tr
                                td.esdev-mso-td.es-m-w33(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:174px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;font-size:0" 
                                                  align="center"
                                                  )
                                                  img.img-8556(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    width="152" 
                                                    alt="productImage" 
                                                    src=val.productImage
                                                    )
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w33(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:173px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-2987.es-m-p20t(
                                                  style="padding:0;Margin:0;padding-top:40px" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="center" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                    ) #{val.productName}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w33(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:173px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-4758.es-m-p20t(
                                                  style="padding:0;Margin:0;padding-top:40px" 
                                                  align="left"
                                                  )
                                                  p(
                                                    align="right" 
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                    )
                                                    strong #{val.productPrice}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:30px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-5650(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Customer information:
                                      tr
                                        td.es-text-7774(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          ul(
                                            style="font-family:arial, 'helvetica neue', helvetica, sans-serif;padding:0px 0px 0px 40px;margin:15px 0px"
                                            )
                                            li(
                                              style="color:#333333;margin:0px 0px 15px;font-size:13px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:13px !important"
                                              )
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:13px !important;letter-spacing:0;color:#333333;font-size:13px;mso-margin-top-alt:15px"
                                                )
                                                strong Name
                                                | : #{customerName}
                                            li(
                                              style="color:#466DD6;margin:0px 0px 15px;font-size:13px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:13px !important"
                                              )
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:13px !important;letter-spacing:0;color:#466DD6;font-size:13px;mso-margin-bottom-alt:15px"
                                                )
                                                strong(style="color:#333333") Order ID
                                                span(style="color:#333333") :
                                                | #{orderId}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-4387(
                                          style="padding:0;Margin:0;padding-top:10px" 
                                          bgcolor="#F3F3F3" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Order information
                                            | :
                      tr
                        td(
                          style="Margin:0;padding-top:20px;padding-right:20px;padding-left:20px;padding-bottom:10px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                            each val in orderItems
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                                    )
                                                    strong #{val.productQuantity} X #{val.productName}
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px" 
                                                    align="right"
                                                    )
                                                    strong #{val.productPrice}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-right:20px;padding-left:20px;padding-top:10px;background-color:#F3F3F3" 
                          bgcolor="#F3F3F3" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1448(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                                    )
                                                    strong TOTAL
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w50(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:270px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-5136(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px" 
                                                    align="right"
                                                    )
                                                    strong #{total}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-7877(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;letter-spacing:0;color:#333333;font-size:12px"
                                            )
                                            strong Payment method
                                            | : #{paymentMethod}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px"
                                            )
                                            | If you have any questions about your order, don't hesitate to
                                            a(
                                              href=contactUs 
                                              style="mso-line-height-rule:exactly;text-decoration:none;color:#466DD6;font-size:14px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                              target="_blank"
                                              ) contact us
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:20px;padding-bottom:10px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_5e7703355e9ac34c72779e84d11a170eea65f2ec45d156e50f1b68614cefe4ca/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_5e7703355e9ac34c72779e84d11a170eea65f2ec45d156e50f1b68614cefe4ca/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_5e7703355e9ac34c72779e84d11a170eea65f2ec45d156e50f1b68614cefe4ca/images/.png" 
                                                    title="Instagram"
                                                    )
                                      tr
                                        td.es-text-4588(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            ) © 2024 Promotional Products Now. All rights reserved.
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:60px;padding-left:60px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:480px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2339(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20l.es-m-p0r(
                          style="Margin:0;padding-top:20px;padding-right:120px;padding-bottom:20px;padding-left:120px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:360px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1736(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=privacyPolicy 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-6408(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=termsOfService 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-7298(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=helpCenter 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-6353(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=unsubscribe 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Unsubscribe
