doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title welcome mail
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    //
      [if mso]>
        <style type="text/css">
        ul {
        margin: 0 !important;
        }
        ol {
        margin: 0 !important;
        }
        li {
        margin-left: 47px !important;
        }
        </style><![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p10r { padding-right:10px!important } .es-m-p10l { padding-left:10px!important } .es-m-p0r { padding-right:0px!important } .es-m-p20l { padding-left:20px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w25 { width:25%!important } .es-m-w0 { width:0px!important } .es-text-5581, .es-text-5581 p, .es-text-5581 a, .es-text-5581 h1, .es-text-5581 h2, .es-text-5581 h3, .es-text-5581 h4, .es-text-5581 h5, .es-text-5581 h6, .es-text-5581 ul, .es-text-5581 ol, .es-text-5581 li, .es-text-5581 span, .es-text-5581 sup, .es-text-5581 sub, .es-text-5581 u, .es-text-5581 b, .es-text-5581 strong, .es-text-5581 em, .es-text-5581 i { font-size:14px!important } .es-text-6808, .es-text-6808 p, .es-text-6808 a, .es-text-6808 h1, .es-text-6808 h2, .es-text-6808 h3, .es-text-6808 h4, .es-text-6808 h5, .es-text-6808 h6, .es-text-6808 ul, .es-text-6808 ol, .es-text-6808 li, .es-text-6808 span, .es-text-6808 sup, .es-text-6808 sub, .es-text-6808 u, .es-text-6808 b, .es-text-6808 strong, .es-text-6808 em, .es-text-6808 i { font-size:14px!important } .es-text-5699, .es-text-5699 p, .es-text-5699 a, .es-text-5699 h1, .es-text-5699 h2, .es-text-5699 h3, .es-text-5699 h4, .es-text-5699 h5, .es-text-5699 h6, .es-text-5699 ul, .es-text-5699 ol, .es-text-5699 li, .es-text-5699 span, .es-text-5699 sup, .es-text-5699 sub, .es-text-5699 u, .es-text-5699 b, .es-text-5699 strong, .es-text-5699 em, .es-text-5699 i { font-size:14px!important } .es-text-1619, .es-text-1619 p, .es-text-1619 a, .es-text-1619 h1, .es-text-1619 h2, .es-text-1619 h3, .es-text-1619 h4, .es-text-1619 h5, .es-text-1619 h6, .es-text-1619 ul, .es-text-1619 ol, .es-text-1619 li, .es-text-1619 span, .es-text-1619 sup, .es-text-1619 sub, .es-text-1619 u, .es-text-1619 b, .es-text-1619 strong, .es-text-1619 em, .es-text-1619 i { font-size:14px!important } .es-text-2855, .es-text-2855 p, .es-text-2855 a, .es-text-2855 h1, .es-text-2855 h2, .es-text-2855 h3, .es-text-2855 h4, .es-text-2855 h5, .es-text-2855 h6, .es-text-2855 ul, .es-text-2855 ol, .es-text-2855 li, .es-text-2855 span, .es-text-2855 sup, .es-text-2855 sub, .es-text-2855 u, .es-text-2855 b, .es-text-2855 strong, .es-text-2855 em, .es-text-2855 i { font-size:16px!important } .es-text-1910, .es-text-1910 p, .es-text-1910 a, .es-text-1910 h1, .es-text-1910 h2, .es-text-1910 h3, .es-text-1910 h4, .es-text-1910 h5, .es-text-1910 h6, .es-text-1910 ul, .es-text-1910 ol, .es-text-1910 li, .es-text-1910 span, .es-text-1910 sup, .es-text-1910 sub, .es-text-1910 u, .es-text-1910 b, .es-text-1910 strong, .es-text-1910 em, .es-text-1910 i { font-size:14px!important } .es-text-8028, .es-text-8028 p, .es-text-8028 a, .es-text-8028 h1, .es-text-8028 h2, .es-text-8028 h3, .es-text-8028 h4, .es-text-8028 h5, .es-text-8028 h6, .es-text-8028 ul, .es-text-8028 ol, .es-text-8028 li, .es-text-8028 span, .es-text-8028 sup, .es-text-8028 sub, .es-text-8028 u, .es-text-8028 b, .es-text-8028 strong, .es-text-8028 em, .es-text-8028 i { font-size:14px!important } .es-text-3244, .es-text-3244 p, .es-text-3244 a, .es-text-3244 h1, .es-text-3244 h2, .es-text-3244 h3, .es-text-3244 h4, .es-text-3244 h5, .es-text-3244 h6, .es-text-3244 ul, .es-text-3244 ol, .es-text-3244 li, .es-text-3244 span, .es-text-3244 sup, .es-text-3244 sub, .es-text-3244 u, .es-text-3244 b, .es-text-3244 strong, .es-text-3244 em, .es-text-3244 i { font-size:14px!important } .es-text-2451, .es-text-2451 p, .es-text-2451 a, .es-text-2451 h1, .es-text-2451 h2, .es-text-2451 h3, .es-text-2451 h4, .es-text-2451 h5, .es-text-2451 h6, .es-text-2451 ul, .es-text-2451 ol, .es-text-2451 li, .es-text-2451 span, .es-text-2451 sup, .es-text-2451 sub, .es-text-2451 u, .es-text-2451 b, .es-text-2451 strong, .es-text-2451 em, .es-text-2451 i { font-size:14px!important } .es-text-9343, .es-text-9343 p, .es-text-9343 a, .es-text-9343 h1, .es-text-9343 h2, .es-text-9343 h3, .es-text-9343 h4, .es-text-9343 h5, .es-text-9343 h6, .es-text-9343 ul, .es-text-9343 ol, .es-text-9343 li, .es-text-9343 span, .es-text-9343 sup, .es-text-9343 sub, .es-text-9343 u, .es-text-9343 b, .es-text-9343 strong, .es-text-9343 em, .es-text-9343 i { font-size:10px!important } .es-text-2710, .es-text-2710 p, .es-text-2710 a, .es-text-2710 h1, .es-text-2710 h2, .es-text-2710 h3, .es-text-2710 h4, .es-text-2710 h5, .es-text-2710 h6, .es-text-2710 ul, .es-text-2710 ol, .es-text-2710 li, .es-text-2710 span, .es-text-2710 sup, .es-text-2710 sub, .es-text-2710 u, .es-text-2710 b, .es-text-2710 strong, .es-text-2710 em, .es-text-2710 i { font-size:10px!important } .es-text-9500, .es-text-9500 p, .es-text-9500 a, .es-text-9500 h1, .es-text-9500 h2, .es-text-9500 h3, .es-text-9500 h4, .es-text-9500 h5, .es-text-9500 h6, .es-text-9500 ul, .es-text-9500 ol, .es-text-9500 li, .es-text-9500 span, .es-text-9500 sup, .es-text-9500 sub, .es-text-9500 u, .es-text-9500 b, .es-text-9500 strong, .es-text-9500 em, .es-text-9500 i { font-size:10px!important } .es-text-1576, .es-text-1576 p, .es-text-1576 a, .es-text-1576 h1, .es-text-1576 h2, .es-text-1576 h3, .es-text-1576 h4, .es-text-1576 h5, .es-text-1576 h6, .es-text-1576 ul, .es-text-1576 ol, .es-text-1576 li, .es-text-1576 span, .es-text-1576 sup, .es-text-1576 sub, .es-text-1576 u, .es-text-1576 b, .es-text-1576 strong, .es-text-1576 em, .es-text-1576 i { font-size:10px!important } .es-text-1422, .es-text-1422 p, .es-text-1422 a, .es-text-1422 h1, .es-text-1422 h2, .es-text-1422 h3, .es-text-1422 h4, .es-text-1422 h5, .es-text-1422 h6, .es-text-1422 ul, .es-text-1422 ol, .es-text-1422 li, .es-text-1422 span, .es-text-1422 sup, .es-text-1422 sub, .es-text-1422 u, .es-text-1422 b, .es-text-1422 strong, .es-text-1422 em, .es-text-1422 i { font-size:10px!important } .es-text-3682, .es-text-3682 p, .es-text-3682 a, .es-text-3682 h1, .es-text-3682 h2, .es-text-3682 h3, .es-text-3682 h4, .es-text-3682 h5, .es-text-3682 h6, .es-text-3682 ul, .es-text-3682 ol, .es-text-3682 li, .es-text-3682 span, .es-text-3682 sup, .es-text-3682 sub, .es-text-3682 u, .es-text-3682 b, .es-text-3682 strong, .es-text-3682 em, .es-text-3682 i { font-size:10px!important } .es-text-2855 .es-text-mobile-size-14, .es-text-2855 .es-text-mobile-size-14 * { font-size:14px!important; line-height:150%!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a41a06aab12effb713486d20d85dbafb205550cb923867b885f9367be551a94d/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a41a06aab12effb713486d20d85dbafb205550cb923867b885f9367be551a94d/images/frame_2_4.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-5581(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Dear #{fullName},
                                      tr
                                        td.es-text-6808(
                                          style="padding:0;Margin:0;padding-top:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | Welcome to #{companyName}! We're thrilled to have you on board as a Vendor and we excited to see what we can accomplish together.
                                      tr
                                        td.es-text-5699(
                                          style="padding:0;Margin:0;padding-top:25px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | As a new member of our community, you now have access to a wide range of features and resources designed to [briefly describe the benefits or goals of your platform/service]. Whether you're here to [mention primary purpose or use case], [secondary purpose or use case], or [any other relevant use case], we're here to support you every step of the way.
                                      tr
                                        td.es-text-1619(
                                          style="padding:0;Margin:0;padding-top:25px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Here's a quick overview of what you can expect:
                                      tr
                                        td.es-text-2855(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          ol(
                                            style="font-family:arial, 'helvetica neue', helvetica, sans-serif;padding:0px 0px 0px 40px;margin:15px 0px"
                                            )
                                            li.es-text-mobile-size-14(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px;mso-margin-top-alt:15px"
                                                )
                                                strong Explore Our Features
                                                | : Take some time to familiarize yourself with all the tools and features available to you. Whether you're a [beginner/advanced user], there's something here for everyone.
                                            li.es-text-mobile-size-14(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                strong Get Started Guides
                                                | : If you're not sure where to begin, don't worry! We've put together some helpful guides and tutorials to help you hit the ground running. You can find them [link to resources].
                                            li.es-text-mobile-size-14(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                                )
                                                strong Connect with Our Community
                                                | : Join the conversation! Our community is full of passionate [industry/niche] enthusiasts just like you. Share your experiences, ask questions, and connect with fellow users #{communityUrl}.
                                            li.es-text-mobile-size-14(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px;mso-margin-bottom-alt:15px"
                                                )
                                                strong Need Help?
                                                | If you have any questions or run into any issues along the way, our support team is here to help. Simply [provide instructions on how to contact support].
                                      tr
                                        td.es-text-1910(
                                          style="padding:0;Margin:0;padding-top:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            )
                                            | We're committed to making your experience with #{companyName} a positive and rewarding one. Thank you for choosing us to [solve a problem, meet a need, etc.].
                                      tr
                                        td.es-text-8028(
                                          style="padding:0;Margin:0;padding-top:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Once again, welcome aboard! We can't wait to see what you'll achieve.
                                      tr
                                        td.es-text-3244(
                                          style="padding:0;Margin:0;padding-top:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) Best regards,
                                      tr
                                        td.es-text-2451(
                                          style="padding:0;Margin:0;padding-top:20px" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px"
                                            ) #{companyName}
                      tr
                        td(
                          style="Margin:0;padding-right:20px;padding-left:20px;padding-top:30px;padding-bottom:30px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-bottom:10px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a41a06aab12effb713486d20d85dbafb205550cb923867b885f9367be551a94d/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a41a06aab12effb713486d20d85dbafb205550cb923867b885f9367be551a94d/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a41a06aab12effb713486d20d85dbafb205550cb923867b885f9367be551a94d/images/.png" 
                                                    title="Instagram"
                                                    )
                                      tr
                                        td.es-text-9343(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            ) © 2024 Promotional Products Now. All rights reserved.
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:60px;padding-left:60px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:480px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2710(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20l.es-m-p0r(
                          style="Margin:0;padding-top:25px;padding-right:120px;padding-bottom:25px;padding-left:120px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:360px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-9500(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=privacyPolicy 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1576(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=termsOfService 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1422(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=helpCenter 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-3682(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=unsubscribe 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px" 
                                                      target="_blank"
                                                      ) Unsubscribe
