doctype transitional
html(
  lang="en" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns="http://www.w3.org/1999/xhtml" 
  dir="ltr"
  )
  head
    meta(charset="UTF-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
      )
    meta(name="x-apple-disable-message-reformatting")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      name="format-detection" 
      content="telephone=no"
      )
    title your feedback
    //
      [if (mso 16)]>
        <style type="text/css">
        a {text-decoration: none;}
        </style>
        <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG></o:AllowPNG>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    //
      [if mso]>
        <style type="text/css">
        ul {
        margin: 0 !important;
        }
        ol {
        margin: 0 !important;
        }
        li {
        margin-left: 47px !important;
        }
        </style><![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
        max-height:0px!important;
        display:none!important;
        }
        .rollover:hover .rollover-second {
        max-height:none!important;
        display:block!important;
        }
        .rollover span {
        font-size:0px;
        }
        u + .body img ~ div div {
        display:none;
        }
        #outlook a {
        padding:0;
        }
        span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
        color:inherit;
        mso-style-priority:99;
        }
        a.es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
        }
        a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
        }
        .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
        }
        .es-button-border:hover > a.es-button {
        color:#ffffff!important;
        }
      @media only screen and (max-width:600px) {.es-m-p10r { padding-right:10px!important } .es-m-p10l { padding-left:10px!important } .es-m-p0r { padding-right:0px!important } .es-m-p20l { padding-left:20px!important } *[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-m-w25 { width:25%!important } .es-m-w0 { width:0px!important } .es-text-2529, .es-text-2529 p, .es-text-2529 a, .es-text-2529 h1, .es-text-2529 h2, .es-text-2529 h3, .es-text-2529 h4, .es-text-2529 h5, .es-text-2529 h6, .es-text-2529 ul, .es-text-2529 ol, .es-text-2529 li, .es-text-2529 span, .es-text-2529 sup, .es-text-2529 sub, .es-text-2529 u, .es-text-2529 b, .es-text-2529 strong, .es-text-2529 em, .es-text-2529 i { font-size:20px!important } .es-text-5094, .es-text-5094 p, .es-text-5094 a, .es-text-5094 h1, .es-text-5094 h2, .es-text-5094 h3, .es-text-5094 h4, .es-text-5094 h5, .es-text-5094 h6, .es-text-5094 ul, .es-text-5094 ol, .es-text-5094 li, .es-text-5094 span, .es-text-5094 sup, .es-text-5094 sub, .es-text-5094 u, .es-text-5094 b, .es-text-5094 strong, .es-text-5094 em, .es-text-5094 i { font-size:16px!important } .es-text-1697, .es-text-1697 p, .es-text-1697 a, .es-text-1697 h1, .es-text-1697 h2, .es-text-1697 h3, .es-text-1697 h4, .es-text-1697 h5, .es-text-1697 h6, .es-text-1697 ul, .es-text-1697 ol, .es-text-1697 li, .es-text-1697 span, .es-text-1697 sup, .es-text-1697 sub, .es-text-1697 u, .es-text-1697 b, .es-text-1697 strong, .es-text-1697 em, .es-text-1697 i { font-size:14px!important } .es-text-8773, .es-text-8773 p, .es-text-8773 a, .es-text-8773 h1, .es-text-8773 h2, .es-text-8773 h3, .es-text-8773 h4, .es-text-8773 h5, .es-text-8773 h6, .es-text-8773 ul, .es-text-8773 ol, .es-text-8773 li, .es-text-8773 span, .es-text-8773 sup, .es-text-8773 sub, .es-text-8773 u, .es-text-8773 b, .es-text-8773 strong, .es-text-8773 em, .es-text-8773 i { font-size:10px!important } .es-text-4614, .es-text-4614 p, .es-text-4614 a, .es-text-4614 h1, .es-text-4614 h2, .es-text-4614 h3, .es-text-4614 h4, .es-text-4614 h5, .es-text-4614 h6, .es-text-4614 ul, .es-text-4614 ol, .es-text-4614 li, .es-text-4614 span, .es-text-4614 sup, .es-text-4614 sub, .es-text-4614 u, .es-text-4614 b, .es-text-4614 strong, .es-text-4614 em, .es-text-4614 i { font-size:10px!important } .es-text-1074, .es-text-1074 p, .es-text-1074 a, .es-text-1074 h1, .es-text-1074 h2, .es-text-1074 h3, .es-text-1074 h4, .es-text-1074 h5, .es-text-1074 h6, .es-text-1074 ul, .es-text-1074 ol, .es-text-1074 li, .es-text-1074 span, .es-text-1074 sup, .es-text-1074 sub, .es-text-1074 u, .es-text-1074 b, .es-text-1074 strong, .es-text-1074 em, .es-text-1074 i { font-size:10px!important } .es-text-5393, .es-text-5393 p, .es-text-5393 a, .es-text-5393 h1, .es-text-5393 h2, .es-text-5393 h3, .es-text-5393 h4, .es-text-5393 h5, .es-text-5393 h6, .es-text-5393 ul, .es-text-5393 ol, .es-text-5393 li, .es-text-5393 span, .es-text-5393 sup, .es-text-5393 sub, .es-text-5393 u, .es-text-5393 b, .es-text-5393 strong, .es-text-5393 em, .es-text-5393 i { font-size:10px!important } .es-text-3185, .es-text-3185 p, .es-text-3185 a, .es-text-3185 h1, .es-text-3185 h2, .es-text-3185 h3, .es-text-3185 h4, .es-text-3185 h5, .es-text-3185 h6, .es-text-3185 ul, .es-text-3185 ol, .es-text-3185 li, .es-text-3185 span, .es-text-3185 sup, .es-text-3185 sub, .es-text-3185 u, .es-text-3185 b, .es-text-3185 strong, .es-text-3185 em, .es-text-3185 i { font-size:10px!important } .es-text-3624, .es-text-3624 p, .es-text-3624 a, .es-text-3624 h1, .es-text-3624 h2, .es-text-3624 h3, .es-text-3624 h4, .es-text-3624 h5, .es-text-3624 h6, .es-text-3624 ul, .es-text-3624 ol, .es-text-3624 li, .es-text-3624 span, .es-text-3624 sup, .es-text-3624 sub, .es-text-3624 u, .es-text-3624 b, .es-text-3624 strong, .es-text-3624 em, .es-text-3624 i { font-size:10px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(
      style="background-color:#F6F6F6" 
      lang="en" 
      dir="ltr"
      )
      //
        [if gte mso 9]>
          <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
          </v:background>
<![endif]
  table.es-wrapper(
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6" 
    role="none" 
    cellpadding="0" 
    cellspacing="0" 
    width="100%"
    )
    tbody
      tr
        td(
          style="padding:0;Margin:0" 
          valign="top"
          )
          table.es-content(
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important" 
            role="none" 
            align="center" 
            cellpadding="0" 
            cellspacing="0"
            )
            tbody
              tr
                td(
                  style="padding:0;Margin:0" 
                  align="center"
                  )
                  table.es-content-body(
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px" 
                    role="none" 
                    align="center" 
                    bgcolor="#ffffff" 
                    cellpadding="0" 
                    cellspacing="0"
                    )
                    tbody
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellpadding="0" 
                            cellspacing="0" 
                            width="100%"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="center" 
                                  valign="top"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    cellpadding="0" 
                                    cellspacing="0" 
                                    width="100%"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;font-size:0" 
                                          align="center"
                                          )
                                          img.adapt-img(
                                            style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                            width="560" 
                                            alt="" 
                                            src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a1fdbde1999e5a1d380690c85dd3854c112372faf3e17197a383db1796e5f4e1/images/frame_427319969.png"
                                            )
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-2529(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            align="center" 
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:30px;letter-spacing:0;color:#333333;font-size:20px"
                                            )
                                            strong Your feedback matters!
                                      tr
                                        td.es-text-5094(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#333333;font-size:16px" 
                                            align="center"
                                            )
                                            strong Get in touch with us.
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-1697(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) Dear #{customerName},
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            )
                                            | Thank you for choosing #{platformName}! We value your experience with us and are committed to providing exceptional service to all our customers.Whether you have a question, feedback, or need assistance, our dedicated team is here to help. Please feel free to reach out to us using any of the following methods:
                                          ol(
                                            style="font-family:arial, 'helvetica neue', helvetica, sans-serif;padding:0px 0px 0px 40px;margin:15px 0px"
                                            )
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px;mso-margin-top-alt:15px"
                                                )
                                                | Email: You can email us at #{supportMail} and expect a prompt response within #{mailResTimeFrame}.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                                )
                                                | Live Chat: Our live chat support is available #{liveChatHours}. Simply visit our website and click on the chat icon located at the bottom right corner of the page to connect with a representative instantly.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                                )
                                                | Phone: If you prefer to speak with someone directly, you can reach us at #{platformPhone} during our business hours.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                                )
                                                | FAQs and Help Center: Before contacting us, you might find the answer to your query in our comprehensive FAQ section or our Help Center. Visit #{faqUrl} to explore.
                                            li(style="color:#333333;margin:0px 0px 15px;font-size:14px")
                                              p(
                                                style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px;mso-margin-bottom-alt:15px"
                                                )
                                                | Social Media: Connect with us on #{social} for updates, announcements, and quick responses to your queries.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            )
                                            | Your feedback is invaluable to us as it helps us improve our services and enhance your shopping experience. We genuinely appreciate your time and input.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            )
                                            | Thank you for being a part of our community. We look forward to assisting you and ensuring your satisfaction with #{platformName}.
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) Warm regards,
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) ​
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) #{vendorName}
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:24px;letter-spacing:0;color:#5F6368;font-size:16px"
                                            ) #{vendorPosition}
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:20px;padding-bottom:20px" 
                                          align="center"
                                          )
                                          span.es-button-border(
                                            style="border-style:solid;border-color:#2CB543;background:#466DD6;border-width:0;display:inline-block;border-radius:8px;width:auto"
                                            )
                                            a.es-button(
                                              style="mso-style-priority:100 !important;text-decoration:none !important;mso-line-height-rule:exactly;color:#FFFFFF;font-size:16px;padding:15px 25px;display:inline-block;background:#466DD6;border-radius:8px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:bold;font-style:normal;line-height:19px;width:auto;text-align:center;letter-spacing:0;mso-padding-alt:0;mso-border-alt:10px solid #466DD6" 
                                              target="_blank" 
                                              href=contactUs
                                              ) Contact us
                      tr
                        td(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:560px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0" 
                                          align="center"
                                          )
                                          table.es-table-not-adapt.es-social(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="X" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a1fdbde1999e5a1d380690c85dd3854c112372faf3e17197a383db1796e5f4e1/images/blushdesignapp.png" 
                                                    title="X.com"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0;padding-right:20px" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Fb" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a1fdbde1999e5a1d380690c85dd3854c112372faf3e17197a383db1796e5f4e1/images/ic_baselinefacebook.png" 
                                                    title="Facebook"
                                                    )
                                                td(
                                                  style="padding:0;Margin:0" 
                                                  valign="top" 
                                                  align="center"
                                                  )
                                                  img(
                                                    style="display:block;font-size:14px;border:0;outline:none;text-decoration:none" 
                                                    height="32" 
                                                    width="31" 
                                                    alt="Ig" 
                                                    src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_a1fdbde1999e5a1d380690c85dd3854c112372faf3e17197a383db1796e5f4e1/images/.png" 
                                                    title="Instagram"
                                                    )
                                      tr
                                        td.es-text-8773(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            ) © 2024 Promotional Products Now. All rights reserved.
                      tr
                        td.es-m-p10l.es-m-p10r(
                          style="padding:0;Margin:0;padding-top:20px;padding-right:60px;padding-left:60px" 
                          align="left"
                          )
                          table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td(
                                  style="padding:0;Margin:0;width:480px" 
                                  align="left"
                                  )
                                  table(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                    role="presentation" 
                                    width="100%" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td.es-text-4614(
                                          style="padding:0;Margin:0" 
                                          align="left"
                                          )
                                          p(
                                            style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px" 
                                            align="center"
                                            )
                                            | You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                      tr
                        td.es-m-p20l.es-m-p0r(
                          style="Margin:0;padding-top:20px;padding-bottom:20px;padding-right:120px;padding-left:120px" 
                          align="left"
                          )
                          table.esdev-mso-table(
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:360px" 
                            role="none" 
                            cellspacing="0" 
                            cellpadding="0"
                            )
                            tbody
                              tr
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-1074(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=privacyPolicy 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Privacy policy
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-5393(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=termsOfService 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Terms of service
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-left(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left" 
                                    role="none" 
                                    align="left" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-3185(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=helpCenter 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Help center
                                td.es-m-w0(style="padding:0;Margin:0;width:20px")
                                td.esdev-mso-td.es-m-w25(
                                  style="padding:0;Margin:0" 
                                  valign="top"
                                  )
                                  table.es-right(
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right" 
                                    role="none" 
                                    align="right" 
                                    cellspacing="0" 
                                    cellpadding="0"
                                    )
                                    tbody
                                      tr
                                        td(
                                          style="padding:0;Margin:0;width:75px" 
                                          align="left"
                                          )
                                          table(
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px" 
                                            role="presentation" 
                                            width="100%" 
                                            cellspacing="0" 
                                            cellpadding="0"
                                            )
                                            tbody
                                              tr
                                                td.es-text-3624(
                                                  style="padding:0;Margin:0" 
                                                  align="left"
                                                  )
                                                  p(
                                                    style="Margin:0;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px"
                                                    )
                                                    a(
                                                      href=unsubscribe 
                                                      style="mso-line-height-rule:exactly;text-decoration:underline;color:#333333;font-size:10px;line-height:15px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif" 
                                                      target="_blank"
                                                      ) Unsubscribe
